[2016-01-18 00:45] equivalentideas opened #1 "Translate the head visual and text for Australian OGP Network"
![screen shot 2016-01-18 at 11 37 25 am](https://cloud.githubusercontent.com/assets/1239550/12381181/e93dd8fa-bdd8-11e5-8b40-08c3909576f2.png)
![screen shot 2016-01-18 at 11 37 19 am](https://cloud.githubusercontent.com/assets/1239550/12381182/e9444eb0-bdd8-11e5-8065-d0b83d0e8adb.png)

We need to change the site title and header text for the Australia version, and also change the image of the UK i

[2016-01-18 01:16] equivalentideas opened #2 "Remove 'country' division of updates"
The [Updates page](http://www.opengovernment.org.uk/updates/) and [home page](http://www.opengovernment.org.uk/) section are divided into countries. We don't have this structure with the Australian OGP Network.

![screen shot 2016-01-18 at 11 46 25 am](https://cloud.githubusercontent.com/assets/1239550/12381347/708a6528-bddc-11e5-938f-df1fc623407c.png)

![screen shot 2016-01-18 at 12 10 49 pm](htt

[2016-01-18 06:35] equivalentideas commented on #1
Done a first pass on this in:

3da25ae Use full name of the network
fe420ec Remove subheading
2afc1bf Change the title to the title of Australia group
a0162d5 Change UK map icon for Australian version

![screen shot 2016-01-18 at 5 33 02 pm](https://cloud.githubusercontent.com/assets/1239550/12384770/ccccc6a0-be09-11e5-8b3c-c7325b49a89e.png)
![screen shot 2016-01-18 at 5 32 51 pm](https://cloud.gi

[2016-01-18 06:35] #1 closed, assigned to nobody

[2016-01-18 06:38] equivalentideas opened #3 "Site name is too long on very small screens"
The site name "Australian Open Government Partnership Network" doesn't fit into the current layout allocated on small screens. We can adjust the text or change the layout/style.

![screen shot 2016-01-18 at 5 35 57 pm](https://cloud.githubusercontent.com/assets/1239550/12384800/072b6112-be0a-11e5-8246-7f7b74f0fde8.png)

[2016-01-19 00:38] equivalentideas opened #4 "Remove “Activity around the UK” tabs module on home page"
The top of the current homepage has a tabbed module with information about the different UK groups and what they are up to:

![screen shot 2016-01-19 at 11 18 17 am](https://cloud.githubusercontent.com/assets/1239550/12406124/60b7d442-be9e-11e5-8817-316550b512a9.png)

In context:

![screen shot 2016-01-19 at 11 17 01 am](https://cloud.githubusercontent.com/assets/1239550/12406259/7f11585e-be9f-11e

[2016-01-19 04:09] henare opened #5 "Provide a way for the network to communicate"
To keep things simple our plan for this initial setup is to just copy what the UK has. They have [a forum](http://forum.opengovernment.org.uk/), based on [Lumen](http://wordsandwriting.github.io/lumen/), so we were going to set that up too.

Again, to keep things simple we were just going to put it on our server for the time being. However after looking at Lumen it's clear that it's [very](https:/

[2016-01-19 04:19] kat opened #6 "change colour palette of website"
(from Craig)
    Change the colours to reflect Australia's Green & Gold (https://en.wikipedia.org/wiki/National_colours_of_Australia), retaining the OGP colour bands.
    Pallette I'd recommend is: http://paletton.com/palette.php?uid=7340u0kw0oUmHvDtLuRBPkmKtf3

[2016-01-19 04:23] kat opened #7 "Change the UK image to Australia"
(via Craig) Change the UK image to Australia including Tassie in banner

[2016-01-19 04:23] kat commented on #7
- replacing http://www.opengovernment.org.uk/wp-content/themes/opengov/img/uk_open_gov_logo.png

[2016-01-19 04:26] kat opened #8 "Change to UK to Aus name in site banner"
(via Craig) Change the name to: AU OPEN GOVERNMENT PARTNERSHIP NETWORK

[2016-01-19 04:27] equivalentideas commented on #5
Great job @henare . What do you mean that some of them “work over email” and some don't? I'm not sure if that is clear for people who haven't used some of these.

[2016-01-19 04:28] kat commented on #8
Let's use full words and make that Australian rather than AU (even if it invokes the tennis even more than usual)

[2016-01-19 04:29] equivalentideas commented on #7
Thanks @kat. This has been done in https://github.com/AOGPN/opengovernment.org.au/issues/1#issuecomment-172439499

[2016-01-19 04:29] #7 closed, assigned to nobody

[2016-01-19 04:29] kat opened #9 "Remove 'CIVIL SOCIETY NETWORK"
(via Craig) Remove 'CIVIL SOCIETY NETWORK

[2016-01-19 04:30] equivalentideas commented on #8
:+1: Closed by https://github.com/AOGPN/opengovernment.org.au/issues/1#issuecomment-172439499

![screen shot 2016-01-18 at 5 32 51 pm](https://cloud.githubusercontent.com/assets/1239550/12384771/cccd9436-be09-11e5-99a2-e9171885aaf0.png)

[2016-01-19 04:30] #8 closed, assigned to nobody

[2016-01-19 04:30] kat commented on #9
My recollection is that we agreed to keep Civil Society in the banner, and only lost it in the name because it was becoming too long. Just here for the record.

[2016-01-19 04:30] #9 closed, assigned to nobody

[2016-01-19 04:31] kat opened #10 "Come up with a new slogan at right of the header"
(via Craig)

[2016-01-19 04:32] kat opened #11 "Adjust footer text to reflect Australian network"
(via Craig)

[2016-01-19 04:34] equivalentideas opened #12 "Add “Civil Society” to the site title"
Currently the website title is "AUSTRALIAN
OPEN GOVERNMENT PARTNERSHIP NETWORK". According to @kat’s [comment](https://github.com/AOGPN/opengovernment.org.au/issues/9#issuecomment-172734315):

So we should add that in somewhere. The title is getting very long already:

![screen shot 2016-01-18 at 5 32 51 pm](https://cloud.githubusercontent.com/assets/1239550/12384771/cccd9436-be09-11e5-99a2-e91718

[2016-01-19 04:35] henare commented on #5
@equivalentideas work over email == like Google Groups. If people choose they can use it exactly like a mailing list and do everything in their email.

This is opposed to web forums like Discourse where you are notified of new items by email but you have to click the link to visit the site to reply to messages, etc.

[2016-01-19 04:36] equivalentideas commented on #5
Thanks @henare :ok_hand: that's clear.

[2016-01-19 04:55] kat opened #13 "Adjust Follow us icons based on what follow systems we have in place"
(via Craig) maybe hide Twitter for now?

[2016-01-19 04:59] equivalentideas commented on #10
The current slogan is:

![screen shot 2016-01-19 at 3 55 06 pm](https://cloud.githubusercontent.com/assets/1239550/12410075/560f3360-bec5-11e5-8418-59bcb46a97c2.png)

Which comes straight from the UK version.

What’s the reason we'd want to change this?

[2016-01-19 05:09] henare commented on #5
I just spoke to @kat and given she's just about to meet lots of amazing people with experience in all of this we're going to put this on the back-burner :fire: for now.

[2016-01-19 06:02] kat opened #14 "Remove Subregional tabs"
(via Craig) - Homepage - Remove the tabs (could add later by state if relevant)

[2016-01-19 06:03] kat opened #15 "things to keep on the homepage"
[code]

 (via Craig) - Homepage -

Keep latest posts (discussed in Updates section)
    Keep Orange section (Transparency, Participation, Accountability) - recolour to pallette.
    Keep latest updates (discussed in Updates section)
    Keep Tweets (display #OGPau, #OGP & @opengovpart until we have a network twitter account in place) - note this has a small risk should people publish inappropriate

[2016-01-19 06:04] kat opened #16 "text and new heading for UK Open Gov Section equivalent"
(via Craig) Homepage:

NEED: Text & new heading for the current 'UK Open Gov' section (drawn from Peter's doc?)

[2016-01-19 06:12] equivalentideas commented on #14
Closing this as a duplicate of #4

[2016-01-19 06:12] #14 closed, assigned to nobody

[2016-01-19 06:16] kat opened #17 "Update 'Get Involved'"
(via Craig) Get involved - Write content for how to get involved with the Australian Open Government Partnership Network

[2016-01-19 06:20] kat opened #18 "Add a post announcing the network/website and directing people to work through the working groups"
(via Craig)

Updates

[code]

[2016-01-19 06:21] equivalentideas commented on #16
This is on the [homepage](http://www.opengovernment.org.uk/) under the heading “Activity around the UK”.

![screen shot 2016-01-19 at 11 18 17 am copy](https://cloud.githubusercontent.com/assets/1239550/12411209/ae55459a-bed0-11e5-9ed1-415b3f3ca78c.png)

Can I suggest a title that is a engaging, few-word summary of what the network does, since we already have the organisation name as the page titl

[2016-01-19 06:25] kat opened #19 "Review Resources"
(via Craig) Hide the Resources section, or include the Accountability Roundtable paper (if releasable) and link to OGPNet resources.

[2016-01-19 06:27] equivalentideas commented on #15
This issue feels like it's handling too much stuff. I think we should try to just have issues for things that need changing, and assume that everything else will stay the same. As I understand this initial work is to just transfer it as is and translate.

Is a duplicate of #16 so we can leave that.

The other issues are all keeping things aside from an adjustment to the twitter feed. I'll make a n

[2016-01-19 08:54] kat commented on #15
cool, makes sense. thanks @equivalentideas

[2016-01-19 10:10] kat opened #20 "Add events"
Add upcoming Network meetings and any more government run sessions to http://www.opengovernment.org.au/events/

[2016-01-20 03:45] henare commented on #5
Craig writes:

And Peter writes:

[2016-01-20 03:48] equivalentideas commented on #5
Awesome to get the perspective of some of the people who'll be using this. Thoughts: I do wonder what platform would be best for the people who aren't in the group yet that we would like to attract? Maybe that doesn't matter and we should just focus on the current users? #my2cents

[2016-01-20 03:48] henare opened #21 "Configure domain"
- [x] Point web at our server.
- [x] Mail at Google? It would be nice to be able to add people to groups and create aliases for them as we do for our other stuff.
- [x] Configure web server
- [x] Configure HTTPS
- [x] Install Wordpress

[2016-01-20 03:59] equivalentideas commented on #17
I'm working on this in Google Docs here https://docs.google.com/document/d/16s-ABPy4qLRrqnULDiwHsLD9HKwHxwM86Nk7Cm_NF74/edit

[2016-01-20 05:43] henare commented on #21
OK we're good to go: https://opengovernment.org.au/

The mail is pointed at our Google Apps so we can give people accounts/forwarders and also set up groups. I haven't configured any yet.

[2016-01-20 05:44] #21 closed, assigned to henare

[2016-01-20 06:17] equivalentideas commented on #17
I've made a first pass on this section in that Google Doc, but I think it'll need some input from @kat when she's back before going any further.

[2016-01-20 06:20] equivalentideas commented on #4
The content for this section is covered in https://github.com/AOGPN/opengovernment.org.au/issues/16

[2016-01-20 06:42] equivalentideas commented on #16
Here's a pass at this, boiling down the _Introduction_ and _Purpose_ sections of the Australian Open Government Partnership Network Terms and Reference. Because the name of the organisation is big and clear in the page title, I think something more engaging and summarising what we're about (or even better: what we do) would be good for the title of this section.

[2016-01-20 06:43] henare opened #22 "Thank UK people for letting us use their theme, etc."

[2016-01-20 06:43] equivalentideas commented on #16
I'm going to put this back into the backlog for now until @kat is back and we can go from there with developing this.

[2016-01-20 06:45] equivalentideas opened #23 "Translate content for the 'About page'"
The [‘About page’ on the opengovernment.org.uk](http://www.opengovernment.org.uk/about/#section-0) website has a bunch of introductory information about open government and the OGP as well as their network and what's happening in the uk.

I've started a Google Doc for translating this for opengovernment.org.au:
https://docs.google.com/document/d/1C2QE3pt2vXd-bHagGjZEEdDEMM7Og9UaWEbjNYyf40s/edit

@

[2016-01-20 06:49] equivalentideas commented on #23
That's actually pretty close to a first pass, just a few questions remaining in there. I imagine that once we've done a basic translation we'll review the wording and make all the information as tight and useful as possible.

[2016-01-20 10:22] kat commented on #16
@equivalentideas sounds good to me - am adding another issue to add the Terms of Reference too...

[2016-01-20 10:26] kat opened #24 "Add terms of reference"
Australian Open Government Partnership Network  V2
Table of contents
1. Introduction
2. Purpose
3. Membership
4. Principles
5. Steering committee
6. Coordinator
7. Decision Making
Annex A: Open Government Declaration
1. Introduction
The Australian Open Government Partnership Network (AOGPN) is a coalition committed to making government work better by promoting transparency, open government, public

[2016-01-20 13:28] kat opened #25 "Let people sign up to google group"
Part of "get involved"?

[2016-01-21 05:50] equivalentideas opened #26 "Migrate images"

[2016-01-21 05:50] equivalentideas opened #27 "update menus"

[2016-01-21 06:03] #27 closed, assigned to nobody

[2016-01-21 06:34] equivalentideas opened #28 "Remove UK events"

[2016-01-21 06:34] equivalentideas opened #29 "Remove UK posts"

[2016-01-21 06:35] equivalentideas commented on #29
I've removed all those UK groups posts except for a few for testing while we make theme changes.

[2016-01-21 06:35] #29 closed, assigned to nobody

[2016-01-21 06:36] equivalentideas commented on #28
I've removed all the UK’s events that we migrated over.

[2016-01-21 06:36] #28 closed, assigned to nobody

[2016-01-21 06:37] henare opened #30 "Reuse UK WordPress database"
The UK people were wonderful enough to share a dump of their WordPress database with us. This is what we had to do to get it running:
- Install WordPress
- Install/Activate theme
- Install/Activate plugins
- Import DB
- Change wp_options admin_email
- Change wp_options, siteurl and home
- Change user emails in wp_users
- Reset users password and made them an admin
- Logged into backend
- Visit plu

[2016-01-21 06:37] #30 closed, assigned to nobody

[2016-01-21 06:41] equivalentideas opened #31 "Change twitter feed for Australian context"
The homepage includes an embeded twitter feed of

![screen shot 2016-01-19 at 5 28 40 pm](https://cloud.githubusercontent.com/assets/1239550/12411382/4ea1b1d6-bed2-11e5-9568-fa8db524850c.png)

We don't have a twitter account so for this initial migration I'll use the hashtag that some of the network are using #OGPau https://twitter.com/search?q=%23ogpau&src=typd

[2016-01-21 06:47] equivalentideas commented on #31
Done that ^^^^

[2016-01-21 06:47] #31 closed, assigned to nobody

[2016-01-21 06:48] henare commented on #26
Done.

[2016-01-21 06:48] #26 closed, assigned to nobody

[2016-01-21 06:59] equivalentideas commented on #13
I've changed twitter to the #OGPau hashtag, the forum link to our forum (google group), hidden the email link, and kept rss.

[2016-01-21 07:00] #13 closed, assigned to nobody

[2016-01-21 22:54] craigthomler commented on #16
Hi equivalentideas,

Not a bad try, though a little too adversarial for the goals of the network. You can use the text below:

The Australian Open Government Partnership Network (AOGPN) is a network of individals and organisations committed to helping governments work better by promoting transparency, open government, public participation, deliberation and accountability. Formed following the Aust

[2016-01-22 01:17] equivalentideas commented on #15
I've broken out the Twitter feed issue in #31 , so I'll close this now.

[2016-01-22 01:17] #15 closed, assigned to nobody

[2016-01-22 01:26] henare commented on #25
It's linked in the header nav as "forum". I think we should change that label - "Discussion" perhaps?

@kat was there anything else you had in mind for this issue?

[2016-01-22 01:30] henare commented on #24
It looks like "About" would be the right section for this.

[2016-01-22 01:30] henare commented on #22
Where should we put this?

[2016-01-22 02:53] equivalentideas commented on #24
Sounds good. On it’s own page?

[2016-01-22 02:53] equivalentideas commented on #22
Maybe a section at the bottom of the about page? Also the README?

[2016-01-22 02:54] henare commented on #24
:+1: I'd say.

[2016-01-22 02:56] henare commented on #22
Yes! That makes sense.

Good call. We should link to this repo on the site too.

[2016-01-22 03:08] henare commented on #19
Let's do this for now.

[2016-01-22 03:16] henare commented on #10
I say we leave it as is for the moment or until we can answer that question. It might change as a result of #12 as well.

[2016-01-22 03:16] #10 closed, assigned to nobody

[2016-01-22 03:17] henare opened #32 "Slogan sitting below the logo instead of off to the right in Firefox"
Compare our page to the UK's.

[2016-01-22 03:20] henare commented on #3
I don't think we're changing the text so we should change the layout/style.

[2016-01-22 03:21] equivalentideas commented on #32
Are you referring to the site header?

Could you add a screenshot? I'm not sure what the issue is about. Here's what I see in the header on a wide screen:

![screen shot 2016-01-22 at 2 19 07 pm](https://cloud.githubusercontent.com/assets/1239550/12501603/218ae8be-c113-11e5-9751-03868100a9ca.png)
![screen shot 2016-01-22 at 2 19 03 pm](https://cloud.githubusercontent.com/assets/1239550/12501604/21

[2016-01-22 03:28] henare commented on #32
Tested on Chrome and it's OK so it's just Firefox:

![selection_001](https://cloud.githubusercontent.com/assets/48945/12501725/68688510-c114-11e5-94f2-dceec9c4d098.png)

[2016-01-22 03:50] equivalentideas commented on #4
Here's a quick code version of the sketch above:

![screen shot 2016-01-22 at 2 39 10 pm](https://cloud.githubusercontent.com/assets/1239550/12501886/bfc7d034-c116-11e5-98de-13f3a64fd6bd.png)

For me that’s not really working. The summary/about text area on the left feels repetitive with the tagline to the right of the header. The stripped back latest posts on the right is doing no where near as g

[2016-01-22 04:15] henare opened #33 "Make logo link to home page?"
I just clicked on the logo expecting it to take me back to the home page.

[2016-01-22 04:27] henare opened #34 "Expand bold on logo text to "Australian Open Government""
At the moment we're just emphasising "Australian" but that doesn't really say much about what this is all about. Expanding the bold to "Australian Open Government" gives you a quick sense of what this is about and hopefully won't overwhelm the rest of the logo.

[2016-01-22 04:35] henare commented on #4
I think your reaction to that is really interesting and it's great you're thinking about this. I'll come back to this after responding to the next paragraph.

That's sounds like designing for the imaginary model citizen that comes to the front page and immediately wants to get involved. The much more likely scenario is that someone comes to the home page either wanting to find out what this is all

[2016-01-22 04:48] equivalentideas commented on #4
Thanks @henare that's great.

That sounds really good :+1: Is this really about making #16 awesome? We could implement it and then iterate that text with new issues.

I think that's a great idea. What are some ways people could get involved? ping @kat

[2016-01-22 05:12] henare commented on #4
Yep, looks like it.

So that new people coming to the site actually understand what AOGPN is we need to make sure it's not just about the AOGPN values but also who we actually are and what we actually do. So often I find myself reading things like about pages and still having no freaking clue what the organisation is or does :smiley:

[2016-01-22 05:14] equivalentideas commented on #4
:star2: :star: :star2: :star: :star2:

[2016-01-22 05:27] henare commented on #20
I've added the Government's past information sessions. I'm going to assign this to @kat to see if you want to [add](https://opengovernment.org.au/wp-admin/edit.php?post_type=event) the AOGPN foundational meeting. I'd like to see it there for posterity and so people get a sense of the community doing stuff.

[2016-01-22 05:36] equivalentideas commented on #32
Fixed in 9eb8e60ee45902bc186ba12b73f37d77189b2a3f

[2016-01-22 05:36] #32 closed, assigned to equivalentideas

[2016-01-22 05:37] equivalentideas commented on #2
I'm going to close this as the only remaining task is covered in much more detail here: https://github.com/AOGPN/opengovernment.org.au/issues/4

[2016-01-22 05:37] #2 closed, assigned to nobody

[2016-01-22 05:45] equivalentideas commented on #34
I like this thinking, but do you think it's an issue that the name then is visually broken into two groups:

It sounds like we're the Partnership Network for Australian Open Government.

[2016-01-22 05:46] henare commented on #34
Yeah good point. Hmm...

[2016-01-22 18:05] kat commented on #25
@henare I didn't put 2+2 together here and wasn't thinking about replacing the forum page there. Assuming we're just using the google group how about having a sign up equivalent to [this dialogue](http://codeforaustralia.us7.list-manage.com/subscribe?u=c5326c963a6f72c18f116c714&id=aac8d99517) Perhaps linked from the place the forum would be linked to from https://opengovernment.org.au/engage/open-

[2016-01-25 00:49] #3 closed, assigned to equivalentideas

[2016-01-25 00:51] equivalentideas commented on #3
I fixed this in e5980cd by allowing the name to wrap around and the navbar to stretch to include the taller element.

![screen shot 2016-01-25 at 11 50 17 am](https://cloud.githubusercontent.com/assets/1239550/12540254/dd5795ae-c359-11e5-884c-eb9e8d4b714a.png)

[2016-01-25 00:54] equivalentideas commented on #24
I'm going to add this by turning the text above into markdown and then posting that. You've got v2 in the title, which makes me think this version is more up to date than https://docs.google.com/document/d/12LlWl0jW3oINDmV3FSrckxUw4DvketSlXJJaa0mxlZw/edit#heading=h.30j0zll

[2016-01-25 01:51] equivalentideas commented on #24
I've copied this into the site. Ended up turning it into nice markdown but then copying in the html as we don't have a markdown conversion plugin yet. It seemed messy to do it in markdown without getting the actually site editors involved first. They might need to use the visual editor.

[2016-01-25 01:51] equivalentideas commented on #24
View it here https://opengovernment.org.au/about/terms-of-reference/#steering-committee

[2016-01-25 01:51] #24 closed, assigned to equivalentideas

[2016-01-25 01:51] equivalentideas opened #35 "Replace current *Terms of reference* with latest version"
This issue is now about replacing the current _Terms of reference_ with latest version.

See comments below https://github.com/AOGPN/opengovernment.org.au/issues/35#issuecomment-175547685

<del>In the [Steering committee section](https://opengovernment.org.au/about/terms-of-reference/#steering-committee) of the [Terms of reference](https://opengovernment.org.au/about/terms-of-reference/), it says:

[2016-01-25 02:28] equivalentideas commented on #22
Added a section about the website with links to all the repos and thanks to the about page https://opengovernment.org.au/about/#section-3

[2016-01-25 02:33] equivalentideas commented on #22
And added it to the readme https://github.com/AOGPN/opengovernment.org.au/commit/e3f9bfa492b6bfdf3ccd703c2cf8d86b11a29beb

Feel free to go ahead and tweak the text in both places :pencil2:

[2016-01-25 02:33] #22 closed, assigned to equivalentideas

[2016-01-25 04:06] equivalentideas commented on #19
I've removed 'Resources' from the site menu and set all the resources to _draft status_ so that if we want to keep any of the OGP generic ones we can. You can add and edit resources here https://opengovernment.org.au/wp-admin/edit.php?post_type=resource&mode=list&paged=1

[2016-01-25 04:06] #19 closed, assigned to equivalentideas

[2016-01-25 04:21] equivalentideas commented on #4
To keep this moving I'm going to implement the simple version above and then raise issues for making the text more useful and changing the posts list over for ways people can get involved for those discussions.

[2016-01-25 05:25] equivalentideas commented on #4
I've implemented the simple example we like from above and deployed:

![screen shot 2016-01-25 at 4 22 50 pm](https://cloud.githubusercontent.com/assets/1239550/12543106/05882ed2-c380-11e5-8b3d-0348a0e3a4a6.png)

See:
7806336 Add about text with simple latest posts feed to top of homepage
02209a1 Make module id more accurate for current purpose
57ecc97 Increase the size of the introduction text
d6

[2016-01-25 05:30] equivalentideas commented on #16
Thanks @craigthomler I've added and deployed that with a couple of small tweaks.
- Used "We" instead of the full org name because it's just above in the header, and it's more conversational with 'we'.
- Removed the 'OGP' abbreviation because we don't mention it again in this bit of text.

![screen shot 2016-01-25 at 4 22 50 pm](https://cloud.githubusercontent.com/assets/1239550/12543155/83080bde-c

[2016-01-25 05:30] #16 closed, assigned to nobody

[2016-01-25 05:41] equivalentideas opened #36 "Make site introduction text more succinct and helpful to new users"
When people come to the site for the first time, after googling "OGP Australia" for example, they need to know the answer to the simple questions “what’s this all about?”, “what does this network actually do?”

Currently the big text introducing the network to people reads:

![screen shot 2016-01-25 at 4 22 50 pm](https://cloud.githubusercontent.com/assets/1239550/12543206/2a442d88-c381-11e5-85f4-

[2016-01-25 05:56] equivalentideas opened #37 "Give me some quick ways to do something with the network instead of repeating 'lastest posts'"
When people hit the homepage they're probably just learning about the network and exploring the site. As @henare says on #4 , a likely situation is :

Currently in the row at the very top of the homepage we've got a simplified version of the 'Latest updates' from further down the page:

![screen shot 2016-01-25 at 4 47 04 pm](https://cloud.githubusercontent.com/assets/1239550/12543450/ab24c7bc-c38

[2016-01-25 05:58] equivalentideas commented on #4
I've extracted the changes we want to make into #36 and #37 for development. I'll close this issue now as we've removed the 'Activity around the UK' tabs and replaced them with a something basic for our context.

[2016-01-25 05:58] #4 closed, assigned to equivalentideas

[2016-01-25 06:01] equivalentideas commented on #11
This text is edited in the WordPress Widgets admin area https://opengovernment.org.au/wp-admin/widgets.php

[2016-01-25 06:20] equivalentideas commented on #11
I've done a simple replacement of the UK stuff with our current 'introduction to the AOGPN' text and replaced their link to the forum with a link to our mail list:

![screen shot 2016-01-25 at 5 14 42 pm](https://cloud.githubusercontent.com/assets/1239550/12543777/262b46f4-c387-11e5-98e7-bf7cc8f9886d.png)

This section seems very similar in purpose to the homepage introduction section to me: To gi

[2016-01-25 06:20] #11 closed, assigned to nobody

[2016-01-25 06:21] equivalentideas commented on #36
I think the improvements we make here can also be used in the short footer introduction to the network. From #11 :

![screen shot 2016-01-25 at 5 14 42 pm](https://cloud.githubusercontent.com/assets/1239550/12543858/fe6ed6c0-c387-11e5-8bd6-b7b1a260f9f4.png)

[2016-01-25 06:24] equivalentideas commented on #23
This shouldn't have been closed, the new text hasn't been added to the site yet.

[2016-01-25 06:25] equivalentideas commented on #33
Same thing just happened to me :hurtrealbad:

[2016-01-25 17:27] kat commented on #12
So to be clear, the idea is that "Civil Society" goes where it does in the UK site, in the main title of the network. I know it's too long, but it's the compromise we came up with given that the official name was too long already. I'm putting it in there for now, until we come up with a better alternative or a better name.

[2016-01-25 17:32] kat commented on #12
I changed this in the general options 'site title' but it doesn't seem to have updated - it is set somewhere else or wrapping issue?

[2016-01-25 19:54] equivalentideas commented on #12
It's actually part of the theme here https://github.com/AOGPN/opengovernment.org.au/blob/master/header.php#L54

[2016-01-25 21:23] henare commented on #12
@equivalentideas instead of being hard coded should it read it from the WordPress site title?

[2016-01-27 00:09] equivalentideas commented on #12
That can't happen easily because it has a <span> inside the text to style and layout the different words. We could pull front the site title and then use javascript to target the words we need and insert the styles, but that sounds really brittle and probably wouldn't help editors really. Or we could simplify the visual style.

I know you've discussed this with the network @kat , but it does still

[2016-01-27 00:21] henare opened #38 "Google Groups subscribe link doesn't work"
When you visit the Groups page and click "Subscribe to this group" it does nothing: https://groups.google.com/forum/#!forum/ogpaustralianetwork

[2016-01-27 00:22] henare commented on #25
@kat I like it :+1: So we need to:
- [x] Update get involved page, including details of how to get on the Google Group (actually #17)
- [ ] Fix/work around #38
- [x] Remove forum link from header nav

[2016-01-27 00:28] equivalentideas opened #39 "Add a description of what this website is meant to do and who it is for somewhere"
Working through these issues I think it's time to document the purpose of this project and who it's meant to serve. This could just be a few sentences in the readme—anywhere we can point to as a decision making tool.

You can see the usefulness of this in issue #4 where the discussion edges back to these questions and then leads to a decision.

Since the network has a bunch of people around the co

[2016-01-27 00:29] henare commented on #38
I've reported it to Google but who knows if that will help. I think we need to provide a workaround in the mean time.

[2016-01-27 00:45] henare opened #40 ""News and blog" and "Updates" sections are duplicates"
https://opengovernment.org.au/news-blog/ seems to list all blog posts.

https://opengovernment.org.au/updates/ lists them by category.

Listing by category was needed when there was all the country updates but we've removed that because we don't need it.

I think we should just get rid of one of these. Maybe remove "updates" and rename "news & blog" to just "news" ("blog" is a bit old skool and ja

[2016-01-27 00:48] equivalentideas commented on #23
I've added that content to the site now, see https://opengovernment.org.au/about/ closing this.

[2016-01-27 00:48] #23 closed, assigned to equivalentideas

[2016-01-27 00:52] equivalentideas opened #41 "Resolve question in About page text"
In the third paragraph of the ['The Australian Open Government Network' section of the about page](https://opengovernment.org.au/about/#section-2), there is a question in the text:

Let's resolve this :)

![screen shot 2016-01-27 at 11 49 06 am](https://cloud.githubusercontent.com/assets/1239550/12600260/5d7f1d9a-c4ec-11e5-8075-a976d39d7348.png)

[2016-01-27 00:52] henare commented on #25
I've done the two main things for this and #38 is still outstanding as its own issue so I'm going to close this now.

[2016-01-27 00:52] #25 closed, assigned to henare

[2016-01-27 00:52] henare commented on #17
I've done a quick first pass at this.

[2016-01-27 00:52] #17 closed, assigned to kat

[2016-01-27 00:54] equivalentideas opened #42 "Improve the editor experience of the About page"
Currently to edit the About page you need to make your changes to raw html in narrow input fields, one for each 'page section':

![screen shot 2016-01-27 at 11 53 26 am](https://cloud.githubusercontent.com/assets/1239550/12600282/a226385c-c4ec-11e5-80c3-f419f72db02f.png)

This is makes it difficult to find the text you want to edit, and is error prone, even for someone who is fluent in HTML.

[2016-01-27 00:57] equivalentideas commented on #40
That sounds good to me. “News & Notes” might be a nicer description since it will probably include opinion and other stuff?

[2016-01-27 01:00] equivalentideas opened #43 "Twitter feed on the 'Get involved page' shows #orgUK"
This should be #OGPau

[2016-01-27 01:02] #43 closed, assigned to equivalentideas

[2016-01-27 01:05] equivalentideas opened #44 "Link style is isn't clear enough"
I've got pretty good eye sight (maybe not as good as I thought ;-) ) and I can't easily tell the different between text that is a link and text that isn't in the site. We should make this clearer so people can more easily navigate the site’s content.

See the [About page for example](https://opengovernment.org.au/about/#section-2).

![screen shot 2016-01-27 at 12 03 12 pm](https://cloud.githubuser

[2016-01-27 01:07] henare commented on #40
Okay, I'll use that as the title but keep the URL as just "/news".

[2016-01-27 01:08] equivalentideas commented on #40
Nice :+1:

[2016-01-27 01:12] #40 closed, assigned to henare

[2016-01-27 01:17] henare commented on #39
@equivalentideas do you have some examples of other projects where this is done effectively? I think that would help other people understand what you're proposing and why.

[2016-01-27 01:27] henare commented on #18
And remove the UK posts we've left up there for testing.

[2016-01-27 01:30] henare commented on #5
I think we're pretty settled on just using the Google Group for now.

@kat I'm assigning this to you so you can add your feedback from the OGP Civil Society Leaders' Workshop or simply close this if your feedback is for us to just use the Google Group :maple_leaf:

[2016-01-27 03:19] kat commented on #12
I'll try and expand on that earlier answer.
- first -  please remember we're doing the dumb thing first - the title/name discrepancy is a contradiction the UK has lived with for a couple of years so I think we can live with it... especially in the interest of ...
- second - It's important people know it's a CIVIL SOCIETY thing. The title is the most visible place to put it.
  I would already have

[2016-01-27 03:49] kat commented on #41
51 as of just now.

[2016-01-27 03:52] equivalentideas commented on #12
Thanks @kat that makes it super clear I think :+1:

So would something like this (which our image) be roughly what we're after?

![screen shot 2016-01-27 at 2 50 33 pm](https://cloud.githubusercontent.com/assets/1239550/12603294/8174222c-c505-11e5-9fa7-a27d003c2cdf.png)

[2016-01-27 03:53] kat commented on #41
seems like a bit of a pain to keep updating that though... I guess it's just a rough number to show people who aren't part of it yet the scale of it.

[2016-01-27 03:55] equivalentideas commented on #41
What about “The network already has over 50 members.” ?

[2016-01-27 03:58] equivalentideas commented on #39
I'm going to close this. I think I'm just in a bad head space and am throwing up solutions without being able to articulate a problem.

[2016-01-27 04:12] kat commented on #41
better make it 50, henare's in twice. Updated.

[2016-01-27 04:12] #41 closed, assigned to nobody

[2016-01-27 04:20] kat commented on #12
yes - terrific

kat@oaf.org.au
Founder, Director, Worker OpenAustralia Foundation
http://openaustraliafoundation.org.au/
openaustralia http://openaustralia.org/ | planningalerts
http://planningalerts.org.au/| electionleaflets
http://electionleaflets.org.au/ | righttoknow http://righttoknow.org.au/
| theyvoteforyou http://theyvoteforyou.org.au/

On 27 January 2016 at 04:52, Luke Bacon notifications

[2016-01-27 05:13] kat commented on #35
This seems like an error, so I've changed this to a subheading and removed the word "Query" for the time being. I'll leave the issue open until I get confirmation from Peter Timmins that this is right.

[2016-01-27 10:30] kat opened #45 "review OGP's new brand guidelines"
see
http://www.opengovpartnership.org/sites/default/files/attachments/OGP_BrandStandardsFINAL.pdf

[2016-01-27 10:34] kat opened #46 "require new network members to agree to terms"
(via Peter Timmins)

On  our version of 'Get Involved" could we have on the Home page:
"Join the Open Government Network"
Linking to a form of some kind:

" Membership"

Name.............

I hereby join the Australian Open Government Partnership Network in my
Individual capacity
As representative of.............
(The  goals of the organisation are to work towards public (rather than private or com

[2016-01-27 10:46] kat commented on #35
(via Peter) here are latest and agreed version of the Terms of reference. Confusingly this is named -1 and the other one is v2. We need to replace the text with this one.
[AOGPN Terms of Reference -1.docx](https://github.com/AOGPN/opengovernment.org.au/files/106428/AOGPN.Terms.of.Reference.-1.docx)

[2016-01-28 03:04] henare opened #47 "Prepare a timeline/key dates"
From @kat - we should work out a timeline based on what the Government has committed to, with key dates and what civil society needs to do by each of those dates.

[2016-01-28 03:05] henare opened #48 "Add OGP Civil Society Leaders meeting to events"
@kat do you also have any write ups or other things you want to add to the site from the meeting?

[2016-01-28 03:06] henare opened #49 "Connect with OGP working groups"
From @kat from the OGP Civil Society Leaders meeting.

[2016-01-28 03:11] henare opened #50 "Add *people* to the site"
At the moment we're a relatively small group of people and that's not likely to change very quickly. So that people coming to the site understand that we're just a group of people and not some huge organisation, and to personalise it, we should add actual people to the site (maybe pictures too?).

[2016-01-28 03:17] henare opened #51 "Establish a permanent dialogue mechanism"
And create a page for it.

[2016-01-28 03:22] henare opened #52 "Add a link to this repository"
This repository's issues are important. They're not just bugs with the theme code, we've also got content issues and we're also starting to put to dos for the network. So we should add a link somewhere. In the footer? "Report a problem or suggest an idea"?

[2016-01-28 03:32] henare commented on #37
@kat's suggestion from a discussion just now is to add the next key date, similar to #47.

[2016-01-28 03:40] kat opened #53 "fix the red box"
at homepage https://opengovernment.org.au/

[2016-01-28 03:41] kat opened #54 "add favicon"
UK site has one - ours isn't working.

[2016-01-28 03:43] kat commented on #37
... and also 'what you can do now' ie which phase of the consultation process we're in and how you can have input

[2016-01-28 03:49] kat opened #55 "Make the about page clear and concise"

[2016-01-28 03:57] kat opened #56 "Make the "this website" section on the about page more direct"
and remember to thank the UK peeps for all their extra help

[2016-01-28 04:01] kat opened #57 "find out where people click to join the discussion group"

[2016-01-28 04:38] kat commented on #39
Re-opening - This informs everything we do!

[2016-01-28 04:49] kat commented on #20
When we post upcoming events from the perspective its interest to civil society -
- let civil society know when they need to take action
- respond to the government
  or with analysis of government announcements

Backfilling past events suggests that the site existed before it did, so let's not do that unless its in the form of a 'story so far' round up.

[2016-01-28 06:48] equivalentideas opened #58 "Create new steering committee google group"

[2016-01-28 06:52] equivalentideas opened #59 "Create a membership form to send around the network"
There are many people in the google group who have not confirmed their agreement with the terms of ref. One way to get them to take action is to send around a form with:
- tick to confirm your agreement with the terms of ref
- assign yourself to a working group
- at the end of the month you'll be unsubscribed from the list unless you do something

[2016-01-28 06:53] equivalentideas opened #60 "Create pages for the working groups"
Updated by @henare: After reviewing the OGP Grand Challenges, the OGP themes, the OGP thematic working groups, and what the Network had already discussed, we've come up with these working groups as a starting point for this first action plan:
- Public Services
- Public Resources (Note on page that this includes: Natural resources)
- Access to Information (Note on page that this includes: Open data

[2016-01-28 06:57] equivalentideas commented on #59
@henare suggests we also tell non-menbers they can sign up to the Code for Australia OGP announcements list for basic info about events etc.

[2016-01-28 21:03] henare commented on #56
I've had a go at this.

[2016-01-28 21:03] #56 closed, assigned to henare

[2016-01-28 21:09] henare opened #61 "Link to the Government site (and wiki?)"
I don't think we have links to the Government sites anywhere. Since these have more information on the Government's process, and how to participate in that, I think it's rather important.

[2016-01-28 23:02] equivalentideas opened #62 "Add framework/template to working group pages to provide people a tangible starting point to build on"
The working group pages should have framework for the people to use/be consistent/get straight into it.

Including:
- design a series of questions for group leaders to answer about the nature of the group and why it exists
- some starting point commitments taken from elsewhere that resonate/seem appropriate and/or actual draft commitments.

[2016-01-28 23:17] equivalentideas opened #63 "Add working groups to front page"
So people can get straight into the action.

[2016-01-28 23:25] equivalentideas opened #64 "Set up threads in the Google Group for the working groups"

[2016-01-28 23:28] equivalentideas commented on #64
This isn't really how google groups works, each new email is it's own thread

[2016-01-28 23:28] #64 closed, assigned to nobody

[2016-01-29 00:13] equivalentideas commented on #39
Here's the description of what the Network does that we came up with yesterday:

The OGP describes the purpose of working groups as:

I like that the OGP one includes implementation, the actual “doing”.

Here's a mashup of the two:

So the purpose of this website in the lead up to the first action plan could be:

It does this by:
1. being a workspace for network members to develop and present ambi

[2016-01-29 00:14] equivalentideas commented on #39
We'll put this in the readme and also in [the _This website_ section of the About page](https://opengovernment.org.au/about/#section-3).

[2016-01-29 00:29] #39 closed, assigned to equivalentideas

[2016-01-29 00:32] equivalentideas commented on #39
I've added this to the [About page](https://opengovernment.org.au/about/#section-3) and [the readme](https://github.com/AOGPN/opengovernment.org.au/blob/master/README.md). I think the prioritised this of ways it achieves it's purpose could be made more specific, but it's a starting point.

## README

![screen shot 2016-01-29 at 11 30 05 am](https://cloud.githubusercontent.com/assets/1239550/126633

[2016-01-29 00:49] henare commented on #60
I've created the basic pages and added them to the menu. Now on to creating starting points, including commitments, which is covered by #62.

[2016-01-29 00:49] #60 closed, assigned to henare

[2016-01-29 01:10] kat opened #65 "put the network first"
People come to the site to find out what the network first. So put that first and OGP last on the about page.

[2016-01-29 01:16] equivalentideas opened #66 "Aria roles missing through the theme to help people using assistive tech to use the site"
See http://a11yproject.com/checklist.html#aria-roles

[2016-01-29 01:18] kat commented on #53
Have removed "you can" and "their" to all the statements. Now they're more simple and direct.

[2016-01-29 01:18] #53 closed, assigned to nobody

[2016-01-29 03:32] kat commented on #59
when we ask people to assign themselves to a working group what will that mean in practise?

[2016-01-29 03:34] kat commented on #5
For the time being then we're going with asking current members of the existing google group to affirm and also asking them to confirm 'their commitment to the principles of the network  see https://github.com/AOGPN/opengovernment.org.au/issues/59

[2016-01-29 03:41] kat opened #67 "make it easier for people to find the site"
add opengovernment.org.au to OAF's google adwords account

[2016-01-29 04:13] equivalentideas commented on #12
Done in https://github.com/AOGPN/opengovernment.org.au/compare/977114bf12c0...677b70174e4d

![screen shot 2016-01-29 at 3 11 32 pm](https://cloud.githubusercontent.com/assets/1239550/12667037/bec87cae-c69a-11e5-9ca8-516473d8672a.png)

[2016-01-29 04:13] #12 closed, assigned to equivalentideas

[2016-01-29 04:27] #45 closed, assigned to equivalentideas

[2016-01-29 04:27] equivalentideas commented on #45
Reviewed and we're all good :+1:

[2016-01-29 04:31] equivalentideas opened #68 "Write blog post announcing the network"
To send round to civil society networks

[2016-01-29 04:34] equivalentideas commented on #37
... including link to the timeline.

[2016-01-29 04:36] equivalentideas commented on #18
We decided yesterday to just have a single post directing people to create commitments through the working groups. Join the working groups!

[2016-01-29 04:37] equivalentideas commented on #65
We moved the network to the first position on the about page.

[2016-01-29 04:37] #65 closed, assigned to nobody

[2016-01-29 04:43] equivalentideas commented on #62
I've made a Google doc for working on this https://docs.google.com/document/d/1AFaX0cevPgir2uJsBmvmlwMYvAdEzmKJgnecKzUWkbQ/edit

[2016-01-29 04:59] equivalentideas commented on #61
In the ['about the OGP' section of the about page](https://opengovernment.org.au/about/#section-2), we introduce the Australian Government’s involvement. That seems like a good place to add this (these) link(s) for starters.

[2016-01-29 05:07] equivalentideas commented on #61
Gonna this as a starting point.

:snowboarder: jump in and improve to your hearts content here https://opengovernment.org.au/wp-admin/post.php?post=968&action=edit

[2016-01-29 05:21] equivalentideas commented on #61
Added and adjusted the text a bit, closing this and if you had another place in the site you wanted to add this link @henare just reopen or add a new issue :+1:

 ![screen shot 2016-01-29 at 4 16 31 pm](https://cloud.githubusercontent.com/assets/1239550/12667770/e1fbb804-c6a3-11e5-84cc-3622e974a80e.png)

[2016-01-29 05:21] #61 closed, assigned to equivalentideas

[2016-01-29 05:47] equivalentideas commented on #35
For those without Word I've put that [new version (v1)](https://docs.google.com/document/d/1ptyv4b1iUY5Q_AiyTpelmX-00k8oPUhCq6zgv--fR6Y/edit) in google docs too

[2016-01-29 09:39] kat opened #69 "Provide resources to help create action plans"
- Add action plan template link
  http://www.opengovpartnership.org/how-it-works/develop-a-national-action-plan

[2016-01-30 06:22] kat opened #70 "resource: creating an effective action plan"
brief outline of how we'll co-create the best possible action plan in this iteration including links to information resources from OGPHUB, particularly information from the IRM and the UK's recently published assessment tool. In a post?

[2016-01-30 06:27] kat commented on #58
Craig has created a group already, which the network may end up using as the steering committee group. (in discussion)

[2016-01-30 18:47] kat commented on #58
pending confirmation from Craig about the purpose of the google group he created

[2016-01-30 20:16] kat commented on #35
I'm not sure this has been approved by the network, and I have some questions about changes that have been made. Changes to be implemented pending network review

[2016-01-30 20:21] kat opened #71 "add network foundation meeting to events"

[2016-01-30 20:22] kat commented on #71
added to https://opengovernment.org.au/event/australian-open-government-partnership-network-foundation-meeting/

[2016-01-30 20:22] #71 closed, assigned to kat

[2016-01-30 20:24] kat opened #72 "update number of members on about page"
pending members of the old google group signing up to be members of the network (currently says there are 50 members) https://opengovernment.org.au/about/

[2016-01-30 21:32] kat opened #73 "cross post Peter's TI announcement on anti-corruption? (Peter)"
http://foi-privacy.blogspot.com.au/2016/01/tl-australia-urges-inclusion-of-anti.html#.Vq0pxFN95E4

[2016-01-30 21:36] kat commented on #52
good point @henare!

[2016-01-30 23:09] kat commented on #38
that does seem to work for me. If logged in with an email account which isn't the one I'm a member of this group with it tells me I need to apply for membership. Have another look and see if it works for you @henare

[2016-01-30 23:11] kat commented on #52
I've done the dumb thing and added this into the footer - could be better positioned, but it's there.

[2016-01-30 23:12] #52 closed, assigned to kat

[2016-01-30 23:37] kat opened #74 "make it easier for working group leaders/co-ordinators to find/edit/update working group info"
It's a bit confusing that the section which was "activity around the UK" is still labelled that in the UI. Same for "Country".  which should now either be "theme" or "working group".

[2016-01-31 22:16] kat commented on #46
moving to #59 which it's part of

[2016-01-31 22:16] #46 closed, assigned to kat

[2016-01-31 22:18] kat commented on #59
Initial suggestion for form via (Peter Timmins)

" Membership"

Name.............

I hereby join the Australian Open Government Partnership Network in my

Individual capacity

As representative of............. (organisation)

The  goals of the organisation are to work towards public (rather than private or commercial) interests and are compatible with AOGPN principles.

In joining the Network I

[

[2016-02-01 01:27] kat commented on #59
pending response from Craig regarding his newly created google group, if that's intended for this network's discussion. He's created some threads on there related to the international working groups that Toby referred to as a starting point for discussion also. ie.

[code]

[2016-02-01 03:44] equivalentideas commented on #36
We decided that this was ok for the [Open site](https://github.com/AOGPN/opengovernment.org.au/milestones/Open%20site) milestone for people inside the steering committee to see, but will need to be closed before [Launch](https://github.com/AOGPN/opengovernment.org.au/milestones/Launch), when the site is more widely promoted.

[2016-02-01 04:01] kat opened #75 "which are the most useful thematic groups?"
The pilot OGP international working groups are:
-     Fiscal Openness,
-     Legislative Openness,
-     Access to Information,
-     Open Data and
-     Openness in Natural Resources

The OGP supports reforms to fight corruption, promote transparency, increase civic participation and improve public services.

But these are quite narrow and actually the ()[OGP grand challenges] are more focused on

[2016-02-01 04:13] equivalentideas opened #76 "Email people who are in the OLD Google Group about becoming members via Google Form"
This is because people who are currently in the Google Group haven't committed to the terms of reference etc. See #59 for the form and more details

People on this list could also review and give feedback on the terms.

[2016-02-01 04:25] kat commented on #75
So for the record, the Working Groups we came up with to fit with those topics that have some leadership within the network already while providing a space for others to come into the OGP platform are:
- Access to Information
- Anti-Corruption
- Civic Participation

with the addition of
- Public Resources (which includes natural resources)
- Public Service

Closing

[2016-02-01 04:27] #75 closed, assigned to kat

[2016-02-01 04:38] kat opened #77 "add introduction to "access to information" working group"
so people know what this is about.

[2016-02-01 04:51] equivalentideas commented on #59
Working on the form in Google Docs https://docs.google.com/a/oaf.org.au/forms/d/1Rwq8cLkSUQBRVin33QmMc2xwsgeA91DP_i5u3dLYIoA/edit?uiv=1

[2016-02-01 05:18] craigthomler commented on #59
Hi Kat,

Actually the groups I created were based on Peter Timmin's defined working groups that have been discussed by the steering committee.

Cheers,

Craig

[2016-02-01 05:27] kat commented on #59
I think you'll find @craigthomler that these were a suggestion Peter thew in the ring, and no-one piped up at the time. Having considered them we came up with a couple of extras. Are you going to answer the question or not?

[2016-02-01 05:28] craigthomler commented on #59
I'm confused - I did answer your question.

---

Craig Thomler

http://egovau.blogspot.com
http://twitter.com/CraigThomler
http://au.linkedin.com/in/craigthomler
http://www.slideshare.net/CraigThomler
http://www.slideshare.net/CraigThomler%20

_Mobile:_ 0411 780 194 (_International:_ +61 411 780 194)
_Phone:_ 02 6161 4508 (_International: *+61 2 6161 4508)
*Skype:_ craig.thomler

On 1 February 201

[2016-02-01 05:33] equivalentideas opened #78 "Fill out the "Working Groups" page"
This page needs:
- a 40 work description of what the working groups do.
- the short introductions to the working groups which are also on the front page.

Here's the page https://opengovernment.org.au/working-groups/

[2016-02-01 05:34] kat commented on #59
So is the email group you created just for the steering committee, for Network members only or for everyone? That's the question I'm asking, and I haven't seen an answer here. Perhaps you could repeat the answer for me?

[2016-02-01 05:36] #77 closed, assigned to kat

[2016-02-01 05:37] kat commented on #59
ok @craigthomler now I see you've answered here, that you've answered me in the email thread! Got it!

[2016-02-01 06:32] kat commented on #59
Confirming the flow here:
write to non members who are currently part of the OGPAustraliaNetwork google group
ask them to confirm agreement with the terms of ref and give information/see if there's a working group they're interested in connecting with
- directly add them to a new google group that's only for members. Tell them that they'll be receiving a confirmation from the new google group

[2016-02-01 06:50] equivalentideas commented on #59
First version of this form is done https://docs.google.com/a/oaf.org.au/forms/d/1Rwq8cLkSUQBRVin33QmMc2xwsgeA91DP_i5u3dLYIoA/formResponse

Closing this issue and we'll make new ones for where to link to it. There's already an issue to send this to all the people on the Google Group #76

[2016-02-01 06:53] equivalentideas commented on #36
This text is also on the introduction to the membership form and should be fixed before it gets sent round to the people in the google group #76

[2016-02-01 07:18] craigthomler commented on #59
I responded to the email you sent to the steering committee. I've included
my response below, although I see you've already responded to the steering
committee discussion as well.

Hi Kat,

The group was for discussion across network members to collect and refine
ideas - as you'll see from the text the group.

Having people explicitly pledge to the Network's code or be expelled wasn't
part of my t

[2016-02-01 07:27] craigthomler commented on #59
Hi Luke,

It would be a good idea to allow people to select more than one working
group to join. There's people with useful contributions across topics.
Effectively this would mean checkboxes rather than radio buttons for the
question 'Which of our working groups do you want to work with? '

I can see a practical case for limiting people to X number of working
groups (X being 3 or 4) - but that's

[2016-02-01 23:51] kat opened #79 "Add information about Natural Resources Working Group"
to take text about natural resources from OGP international working group page

[2016-02-01 23:57] kat commented on #79
http://www.opengovpartnership.org/groups/naturalresources

[2016-02-02 00:03] henare commented on #52
:+1:

There was a formatting issue that meant the link wasn't working, I've fixed this up.

[2016-02-02 00:04] henare commented on #38
@kat thanks for checking this. I think it's only when you're completely logged out. Since it was working for you I'll close this. If it's still a problem we can reopen it.

[2016-02-02 00:04] #38 closed, assigned to nobody

[2016-02-02 00:05] kat opened #80 "Introduce theme/working group of Civic Participation"
in [working groups](https://opengovernment.org.au/working-groups)

[2016-02-02 00:05] kat commented on #80
Information from http://www.opengovpartnership.org/sites/default/files/attachments/OGPvaluesguidancenote.pdf

[2016-02-02 00:06] kat commented on #79
first pass done in [working groups](https://opengovernment.org.au/working-groups/)

[2016-02-02 00:06] #79 closed, assigned to nobody

[2016-02-02 00:07] kat commented on #78
Introduction done - split into individual theme issues.

[2016-02-02 00:07] #78 closed, assigned to nobody

[2016-02-02 00:09] kat commented on #80
first pass done.

[2016-02-02 00:09] #80 closed, assigned to kat

[2016-02-02 00:19] henare commented on #63
- [x] Get "read more" links working
- [x] Decide what should happen with the "latest posts" and picture sections

[2016-02-02 00:28] kat opened #81 "Introduce civic participation"
on the [working groups](https://opengovernment.org.au/working-groups) page.

[2016-02-02 00:35] henare commented on #63
We've decided to remove the "latest posts" and picture sections and just have the intro text the only thing in the box.

Assigning to @equivalentideas to finish off this frontend stuff.

[2016-02-02 01:04] equivalentideas commented on #63
I've done that and made the text bigger to pull people in more.

![screen shot 2016-02-02 at 12 01 56 pm](https://cloud.githubusercontent.com/assets/1239550/12736529/1d5b0b6c-c9a5-11e5-8a9e-1be2e0a19979.png)

I think we should make the call to action 'read more' link text more about doing something.

[2016-02-02 01:07] equivalentideas commented on #63
At the moment in the admin interface, and in the code, these tabs are still managed as 'countries', rather than 'working groups'. It's a bit of work to adjust that and since there'll only be a small group using the admin interface in the short-term, we've decided to leave that as is.

Closing this as the front-end changes are done.

[2016-02-02 01:07] #63 closed, assigned to equivalentideas

[2016-02-02 02:50] kat commented on #81
first pass done

[2016-02-02 02:50] #81 closed, assigned to nobody

[2016-02-02 03:02] kat opened #82 "create a contact email address"
hello@opengovernment.org.au

[2016-02-02 03:46] equivalentideas opened #83 "Open up the Google Group so anyone can see discussion without having to apply for membership"
The current plan is to open up the [new AOGPN Google Group](https://groups.google.com/forum/#!forum/aogpn) so anyone can see and join in the discussion.

It currently isn't open and requires people to apply, we need to remove that setting.

This will enable anyone to immediately start working on Action Plan commitments.

[2016-02-02 03:47] henare commented on #76
The new plan is to open the group up completely - #83 - so I think this can be closed.

[2016-02-02 03:48] henare commented on #82
What for? Who should get the emails?

[2016-02-02 03:50] equivalentideas commented on #76
While the google group is going to be open ( see #83 ), as far as I understand things, the plan is still to have people agree to the terms of the network to become members of the Network (as opposed to members of the google group). Reopening this.

[2016-02-02 03:52] kat commented on #83
Based on the wording in the welcome text of the email group which states that it's an open group intended for use by Network members.

"Welcome to this discussion group for the Australian Open Government Partnership Network (AOGPN).

The AOGPN is a network of individuals and organisations interested in supporting the Australian government's progress towards full and ongoing membership of the Open

[2016-02-02 03:59] equivalentideas commented on #35
This is something the steering committee needs to work out so doesn't need to be on the [Open site milestone](https://github.com/AOGPN/opengovernment.org.au/milestones/Open%20site). I'm removing it from the milestone and adding it to [Launch](https://github.com/AOGPN/opengovernment.org.au/milestones/Launch).

I've also added a notice and link to this issue at the top of [the page on WordPress](htt

[2016-02-02 03:59] craigthomler commented on #83
Done. Made it a public group.

Have left the first post of new users as moderated to manage spam.

I'll promote people to Manager (to manage their discussions) as they register to the group.

[2016-02-02 04:00] kat opened #84 "embed a demo google group"
We need to see what having the forum on the website looks like and if we can embed them by working group under each working group

We don't currently have permission to add the group Craig made nor is it resolved if this is the right group to use. see #83

[2016-02-02 04:00] equivalentideas commented on #83
Nice one :+1:

[2016-02-02 04:05] craigthomler commented on #84
Hi Kat,

You have my permission to add it, so you can test this out.

Just register and I'll make you an admin.

Google has some advise on how to embed it into a site that might be useful:
https://support.google.com/groups/answer/1191206?hl=en

Cheers,

Craig

---

Craig Thomler

http://egovau.blogspot.com
http://twitter.com/CraigThomler
http://au.linkedin.com/in/craigthomler
http://www.slideshare

[2016-02-02 04:07] henare commented on #83
Nice, it looks like you can now easily join. However you still can't view any of the group's content:

![selection_001](https://cloud.githubusercontent.com/assets/48945/12739484/43c50d66-c9be-11e5-9ae8-a307cd01cfcd.png)

I think you need to set _View topics_ to _Public_ under the Group's _Basic Settings_:

![selection_002](https://cloud.githubusercontent.com/assets/48945/12739527/89d9415a-c9be-11e

[2016-02-02 04:10] kat commented on #84
Hi @craigthomler , I've already joined - I think I need to be an admin. Thanks, I've seen the embedding help :-)

[2016-02-02 04:11] craigthomler commented on #83
OK - taken that step. I've left posting as members only.

I also promoted Kat to Owner and the other Steering Committee members to Managers.

Henare & Luke, want to be Owners too?

[2016-02-02 04:12] kat commented on #84
closing this as we no longer need a demo group

[2016-02-02 04:13] #84 closed, assigned to nobody

[2016-02-02 04:13] craigthomler commented on #84
Cool, I've promoted you to Owner. (equivalent of Admin)

Cheers,

Craig

---

Craig Thomler

http://egovau.blogspot.com
http://twitter.com/CraigThomler
http://au.linkedin.com/in/craigthomler
http://www.slideshare.net/CraigThomler
http://www.slideshare.net/CraigThomler%20

_Mobile:_ 0411 780 194 (_International:_ +61 411 780 194)
_Phone:_ 02 6161 4508 (_International: *+61 2 6161 4508)
*Skype:_ cra

[2016-02-02 04:13] equivalentideas commented on #83
Nice one @craigthomler it's all open now :star2: :star: :star2: :star: :star2: :star: :star2: :star: I'll close this.

May as well add us to thanks, incase something comes up to change quickly.

[2016-02-02 04:13] #83 closed, assigned to craigthomler

[2016-02-02 04:15] kat opened #85 "give new users a sense of what's going on in their area of interest"
by embedding google group thread to the relevant working groups

[2016-02-02 04:17] craigthomler commented on #83
You need to register as a member first :)

I haven't pushed invites out to either of you as I wasn't sure which email
addresses you prefer to use.

Cheers,

Craig

---

Craig Thomler

http://egovau.blogspot.com
http://twitter.com/CraigThomler
http://au.linkedin.com/in/craigthomler
http://www.slideshare.net/CraigThomler
http://www.slideshare.net/CraigThomler%20

_Mobile:_ 0411 780 194 (_Internation

[2016-02-02 04:22] kat commented on #62
This is guidance or later a form for a working group leader or someone they assign to communicate the progress of that working group on a given commitment.
Relevant documents from the OGP are the commitment template in [Action Plan Template Guidance](http://www.opengovpartnership.org/sites/default/files/attachments/Action%20Plan%20Template%20and%20Guidance%202014.pdf) and the new review tool (find

[2016-02-02 04:22] henare commented on #83
Great, thanks @craigthomler  :+1: I've now registered as a member as henare@oaf.org.au

[2016-02-02 04:25] kat commented on #62
also [assessing action plan commitments for relevance to OGP values](http://www.opengovpartnership.org/sites/default/files/attachments/OGPvaluesguidancenote.pdf)
One example of a non-relevant commitment from Shreya - "The Government needs to make sure the beaches are clean" That's wonderful thing to aim for but if there is no connection to Openness transparency or participation in that commitment

[2016-02-02 04:31] craigthomler commented on #83
Have elevated you to Owner Henare. Which means you could elevate Luke if he joins.

[2016-02-02 04:40] henare commented on #83
Cheers @craigthomler :sparkles:

[2016-02-02 05:02] kat commented on #84
awesome Craig thanks!

kat@oaf.org.au
Founder, Director, Worker OpenAustralia Foundation
http://openaustraliafoundation.org.au/
openaustralia http://openaustralia.org/ | planningalerts
http://planningalerts.org.au/| electionleaflets
http://electionleaflets.org.au/ | righttoknow http://righttoknow.org.au/
| theyvoteforyou http://theyvoteforyou.org.au/

On 2 February 2016 at 15:13, Craig Thomler not

[2016-02-02 05:46] henare opened #86 "Add a link to the membership form"
https://opengovernment.org.au/get-involved/

[2016-02-02 05:48] henare commented on #62
Don't forget to add a link to the specific topic for the working group on the Google Group on each working group's page.

[2016-02-02 06:03] equivalentideas commented on #62
Also a link to join the network and in the template say something like:

[2016-02-02 06:08] kat opened #87 "improve the introductory "welcome message" on the google group"
It's quite longwinded and the language sounds a lot like the government talking rather than civil society. It doesn't emphasise/recognise the equal partners partnership that's a core to the OGP

[2016-02-02 06:10] craigthomler commented on #87
I wrote it :)

If someone wants to edit it down, please feel free.

I'll have another look in a few days, but better to not edit one's own work.

Cheers,

Craig

---

Craig Thomler

http://egovau.blogspot.com
http://twitter.com/CraigThomler
http://au.linkedin.com/in/craigthomler
http://www.slideshare.net/CraigThomler
http://www.slideshare.net/CraigThomler%20

_Mobile:_ 0411 780 194 (_International

[2016-02-02 06:45] henare opened #88 "Add working group summaries to the front page"

[2016-02-02 06:55] equivalentideas commented on #18
Published post and removed pages.

[2016-02-02 06:55] #18 closed, assigned to equivalentideas

[2016-02-02 06:56] henare opened #89 "Show author's gravatar on posts"
To make it more human.

[2016-02-02 07:04] henare commented on #88
I've added the basic ones we have for each group or a placeholder inviting contributions.

[2016-02-02 07:04] #88 closed, assigned to nobody

[2016-02-02 07:29] kat commented on #62
For a first dumb thing I've copied and pasted [this text ](https://docs.google.com/document/d/1AFaX0cevPgir2uJsBmvmlwMYvAdEzmKJgnecKzUWkbQ/edit#heading=h.r3siihtsifiq) to all the working group pages.

[2016-02-02 07:29] #62 closed, assigned to kat

[2016-02-02 14:07] kat commented on #86
this is part if the other form we already made for #76

[2016-02-02 14:07] kat commented on #85
we're not sure if this is possible

[2016-02-02 14:09] kat commented on #69
done

[2016-02-02 14:09] #69 closed, assigned to kat

[2016-02-02 14:13] #59 closed, assigned to equivalentideas

[2016-02-02 23:10] henare commented on #86
@kat is this form also supposed to ask people to become a network member?

For the moment we're going to reuse the form we already had from #76 and add back the option to also become a member. That way people can still provide their details and optionally choose to be a network member.

[2016-02-02 23:29] equivalentideas commented on #86
The introduction to the form is currently:

This should change:
- to reflect that you can optionally not become a member, **the chief focus of the form is to introduce yourself to the network so it can help direct your contributions and work with you**
- to give people some indication of why they're handing over there information and what we'll do with it.

[2016-02-02 23:33] kat commented on #86
I Think the form is to allow people to join the network, to do that we ask people to

1) agree to basic terms - that they're acting in civil society interests and don't have conflicts
and
2) provide their information as per the form on the UK site

Are we on the same page?

[2016-02-02 23:36] henare commented on #86
@kat so people shouldn't be able to submit the form if you're not applying for membership?

[2016-02-02 23:51] kat commented on #86
I think we agreed that by agreeing to the terms and providing your info you become a member. The group will accept you on face value.

[2016-02-02 23:52] kat commented on #86
So there's no wait - you get in straight away.

[2016-02-02 23:59] equivalentideas commented on #86
Ok cool :+1: we'll take the form back to not having an option not to become a member. You fill in details, then read the terms, agree by submitting and then get directed to start working.

[2016-02-03 00:03] kat opened #90 "make it easy for working group facilitators to add first round of info about their group"
Make a google doc for each group with the questions and link to it from the working group page

[2016-02-03 00:13] kat commented on #86
Nice!

kat@oaf.org.au
Founder, Director, Worker OpenAustralia Foundation
http://openaustraliafoundation.org.au/
openaustralia http://openaustralia.org/ | planningalerts
http://planningalerts.org.au/| electionleaflets
http://electionleaflets.org.au/ | righttoknow http://righttoknow.org.au/
| theyvoteforyou http://theyvoteforyou.org.au/

On 3 February 2016 at 10:59, Luke Bacon notifications@github.c

[2016-02-03 00:14] kat commented on #90
I've created a first version of this to model for the rest  https://opengovernment.org.au/working-groups/access-to-information/ but it seems clunky @henare @equivalentideas please review.

[2016-02-03 00:16] henare commented on #86
We're done!

[2016-02-03 00:16] #86 closed, assigned to nobody

[2016-02-03 00:28] equivalentideas opened #91 "The introduction to the membership form is pretty unhelpful"
People should know why they need to hand over all this information and what we're going to do with it before they're asked for their information, so they feel confident in joining and good about the Network’s intentions.

The introduction to the form is currently:

I think we should:
1. Simplify or cut the introduction to what the Network is. They are wanting to become a member should probably alr

[2016-02-03 00:38] equivalentideas commented on #59
Hey Craig thanks for that. Here's the current form: https://docs.google.com/forms/d/1Rwq8cLkSUQBRVin33QmMc2xwsgeA91DP_i5u3dLYIoA/viewform

Let's open new issues for specific changes (like https://github.com/AOGPN/opengovernment.org.au/issues/91).

This was indeed confusing. We changed the text to “Which of our working groups do you most want to work with?”, and kept it as single choice. The reason

[2016-02-03 00:46] equivalentideas opened #92 "Wording of member commitments in the membership form should be clearer and more exciting"
It should be an energising experience to read the membership commitments in the [membership form](https://docs.google.com/forms/d/1Rwq8cLkSUQBRVin33QmMc2xwsgeA91DP_i5u3dLYIoA/formResponse). Currently the wording is a bit repetitive and has some long, complex sentences. If it was simpler/clearer, people could be more quickly certain of what it means to be a member.

Here’s the current text:

What d

[2016-02-03 00:57] kat opened #93 "add intro to public services"
on the front page under working group

[2016-02-03 01:13] equivalentideas commented on #89
This would be very nice :panda_face:

[2016-02-03 01:14] equivalentideas commented on #90
I'll have a look now

[2016-02-03 01:24] henare opened #94 "Logo looks a little distorted on Android Firefox"
![screenshot_20160203-122201](https://cloud.githubusercontent.com/assets/48945/12770039/1cf49180-ca71-11e5-9ccc-a3bac78a2acf.png)

[2016-02-03 01:30] equivalentideas commented on #90
I think it is a bit of a complex process at the moment. Could we simplify it by taking the questions off the current page and having a big button to go to the google doc. Then it's clear that all the editing happens in here?

![screen shot 2016-02-03 at 12 29 31 pm](https://cloud.githubusercontent.com/assets/1239550/12770118/d15be326-ca71-11e5-8eb5-337faf23e9d4.png)

What do ya think @kat ?

[2016-02-03 01:35] kat commented on #90
Yes good I was thinking that too :+1: how about changing kick things off to something plainer like 'begin by' and then say what will happen next 'we'll work with you to put that information here' or similar

[2016-02-03 01:45] kat opened #95 "ask people basic information about themselves when they sign up"
It would be very helpful to know who is part of the network for  a number of reasons, partly to understand who is part of the network what sectors they come from and who they represent. The entry point seems like a good place to capture this.

the uk site does it but it's immediately useful there because it forms part of their identity on their forum. This is another good reason to use a forum bec

[2016-02-03 01:59] kat commented on #90
links for the questions for each working group [access to information](https://docs.google.com/document/d/1IXiY3oCJi5WpqUK_sIn6a2dmPmqIre7LzbtsrvUTMKg/edit#), [anti corruption](https://docs.google.com/document/d/1Y4CdGWdO27r49nKI9K2ZqTk_VdjyNjq-7l85MW2T9hE/edit), [civic participation](https://docs.google.com/document/d/1Y4CdGWdO27r49nKI9K2ZqTk_VdjyNjq-7l85MW2T9hE/edit), [public resources](https://

[2016-02-03 02:13] kat opened #96 "help a civil society organiser create a new working group"
We've done our best to make the themes of working groups fairly inclusive. The list of working groups isn't exhaustive and there will still be gaps. We'll need to add new ones.

Have copied the questions for #90 into a "[New working group template"](https://docs.google.com/document/d/1-CeZlXn7fMs4Ivo3IQggetljVHfkcgqoSkwrE4MrVK0/edit#) which organisers of new working groups can use to communicate w

[2016-02-03 02:53] kat opened #97 "announce opengovernment.org.au to the network"
email the old network list to announce the site's open.

[2016-02-03 02:55] equivalentideas commented on #90
@kat Yep I'll set this up for all the pages now.
- [x] change the text and add links to all the pages
  - [x] Access to information
  - [x] Anti corruption
  - [x] civic participation
  - [x] public resources
  - [x] public services
- [x] add the button style to the css as something like .btn-secondary

[2016-02-03 04:05] equivalentideas commented on #90
@kat I think you need to change the permissions on those docs so anyone can edit/view with the link. I can't access them at the moment.

[2016-02-03 04:25] equivalentideas commented on #90
I've implemented this across the pages. [I used a light teal colour](https://github.com/AOGPN/opengovernment.org.au/commit/840006b9cbe81010b7f7dab62c51937b3b5a1655) that's used for the tabs interface on the front page for the button colour, rather than the green. I didn't wanted to use an existing colour pattern from the site for familiarity. It could be a bit light with the white text? Let me kno

[2016-02-03 04:30] equivalentideas commented on #90
Hmm, I think that light teal is too weak. I think using the same primary orange will do the job.

[2016-02-03 04:33] equivalentideas commented on #90
Made that change

[2016-02-03 04:35] equivalentideas commented on #90
I can see you're opening the docs now @kat :+1: I'm checking that I got the links right. Found one a messed up already.

[2016-02-03 04:36] equivalentideas commented on #90
@kat the link for the civic participation doc above is the same one of anti corruption, could you drop that in here again.

[2016-02-03 04:42] equivalentideas commented on #90
Fixed up another of the links I copied wrong to the one provided above. The last thing on this issue is to make sure all the links work.

[2016-02-03 05:23] equivalentideas commented on #92
I've done a pass at this, it could go further but I think the Steering Committee will need to look at the meaning of some of the points. Continue to iterate this in Google Docs, and look through the comments there for notes on my decision making: https://docs.google.com/document/d/1WOsIzqd2uPiQMjNp3ypO4NpawsL91TM-y5JjDR_0OF4/edit#

I've updated the form with this version:

[2016-02-03 05:23] #92 closed, assigned to equivalentideas

[2016-02-03 05:41] kat commented on #90
civic participation is fixed - checking links

[2016-02-03 05:50] equivalentideas commented on #90
From chat:

hmmm.

It's a bit long and not quite as clear as it could be. @kat What about:

[2016-02-03 05:51] equivalentideas commented on #90
@kat the Google Doc link on Civic Participation still points to Anti Corruption https://opengovernment.org.au/working-groups/civic-participation/

[2016-02-03 06:13] kat commented on #90
@equivalentideas sorry got interrupted. With the This site needs I thought that actual bit of the sentence passive. How about Giving a direct instruction. Use **Add clear information *\* instead of **This site needs**

[2016-02-03 06:13] kat commented on #90
checking links now - again...

[2016-02-03 06:20] kat commented on #90
links fixed - just that one wording

[2016-02-03 06:20] equivalentideas commented on #90
How about:

or:

[2016-02-03 06:33] kat commented on #90
You're trying to make it gentler and less stark? Is there another way to do that? "You can" isn't direct and "get" is an icky word.

[2016-02-03 06:35] kat commented on #90
if nothing comes to mind, then let's use You can for now - it's an improvement over This page needs .... :+1:

[2016-02-03 06:35] kat commented on #90
or leave it for now even.

[2016-02-03 06:35] #90 closed, assigned to kat

[2016-02-03 08:58] kat commented on #97
Done, closing

[2016-02-03 08:58] #97 closed, assigned to kat

[2016-02-03 09:03] kat opened #98 "Link to timeline in welcome blogpost"
It's not clear what the four weeks is referred to in this welcome post https://opengovernment.org.au/2016/02/02/welcome/ let people know where this fits into the process - why it's important

[2016-02-03 11:43] kat opened #99 "update steering committee on about page"

[2016-02-03 12:02] kat opened #100 "help create create commitments with more help/resources"
Include the OGP's [Action Plan Guide](http://www.opengovpartnership.org/sites/default/files/attachments/OGP_actionplan_guide%20FINAL_0.pdf)

[2016-02-03 20:46] equivalentideas commented on #98
I added it as a link to the first time it sats 'under four weeks'. Do you think a more explicit link would be better? Something like:

[2016-02-03 20:49] kat commented on #98
that's good to begin - replace with link to #47 on this site when available.

[2016-02-03 23:07] kat opened #101 "Direct people to join the network before they join the Google Group"
(via Peter Timmins) user feedback from Peter - currently there are two paths to getting involved - get involved page points to joining the network with the agreement to be aligned with civil society interests, and diving into working groups which currently doesn't require this. We're trusting people to commit to the network principles and ask that they do so to contribute to the working group conv

[2016-02-04 20:07] kat opened #102 "find out how many people are using the site"
Add basic analytics

[2016-02-04 20:08] kat commented on #102
This will help us see how people are using the site

[2016-02-05 00:09] kat commented on #101
There's no membership form to join through the google group - a quick fix in the short term can be  to request "if you want to take part in the conversation here join the network" first: -and link to form -  https://groups.google.com/forum/#!forum/aogpn

I suggested that topic facilitators being responsible that those taking part in conversation can help by checking participants joining their grou

[2016-02-05 00:39] kat opened #103 "add new email and twitter information"
add @opengovau and opengovau@gmail.com to the contact/social information (Peter Timmins organising these)

[2016-02-05 00:41] kat opened #104 "alphabetise list of steering committee members"

[2016-02-05 00:44] kat opened #105 "include Malcolm's letter front and centre front page"
(via Peter Timmins) it's important that people know this initiative is advocated at the highest level of government and may tip the balance for those wishing to take part

[2016-02-05 00:45] kat opened #106 "add users"
add Peter Timmins- he's going to upload the letter to PM & C

[2016-02-05 00:45] #106 closed, assigned to kat

[2016-02-05 00:52] henare commented on #103
What about #82?

[2016-02-05 00:54] kat opened #107 "Name corrections/Additions"
via Peter Timmins
-  David Soloman AM
-  Dr Nicholas Gruen

[2016-02-05 00:57] kat commented on #82
closing this one for now and leave #103 which is the simple solution.

[2016-02-05 00:57] #82 closed, assigned to nobody

[2016-02-05 00:58] kat commented on #103
Peter is the contact for the network and takes responsibility for this email address.

[2016-02-05 00:59] henare commented on #103
:+1:

[2016-02-05 01:01] kat commented on #105
this is a 'nice to have'

[2016-02-05 01:10] kat opened #108 "add event in Melbourne"
it's an OKFN event in Melbourne to discuss related issues.

http://www.meetup.com/Open-Knowledge-Melbourne/events/228575097/

[2016-02-05 01:41] kat commented on #107
and reorganised alphabetically as requested - this is on the about page.

[2016-02-05 01:41] #107 closed, assigned to nobody

[2016-02-05 02:07] henare opened #109 "HTML is not valid"
https://validator.w3.org/nu/?doc=https%3A%2F%2Fopengovernment.org.au%2F

[2016-02-05 02:08] henare commented on #109
CSS is the same http://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fopengovernment.org.au%2F&profile=css3&usermedium=all&warning=1&vextwarning=&lang=en

[2016-02-05 02:09] henare commented on #109
WCAG 2.0 should be pretty easy to fix http://achecker.ca/checker/index.php

[2016-02-05 02:14] kat commented on #101
@craigthomler can you please add "To participate in this group, please [join the network](https://docs.google.com/forms/d/1Rwq8cLkSUQBRVin33QmMc2xwsgeA91DP_i5u3dLYIoA/viewform)"  in the [google group introductory text](https://groups.google.com/forum/#!forum/aogpn)

[2016-02-05 02:17] #104 closed, assigned to nobody

[2016-02-05 02:17] #99 closed, assigned to kat

[2016-02-05 02:18] kat commented on #95
@equivalentideas I think you did this already by adding those questions to the form - if this is complete can you close?

[2016-02-05 02:19] henare commented on #102
Analytics plugin installed and configured.

[2016-02-05 02:19] #102 closed, assigned to henare

[2016-02-05 02:23] kat commented on #49
have connected Natural resources with interested parties I know of.

[2016-02-05 05:25] kat opened #110 "give users information about citizen engagement working group/topic"
https://opengovernment.org.au/working-groups/civic-participation/
topic: citizen engagement
Write a brief introduction to citizen engagement (a paragraph)
Summarize activity and stage of National Action Plan Commitment development - answer as much of the [commitment template ](https://docs.google.com/document/d/1czwdaIzqyC9k24jAb7mt3eSDWyRiK3dNp7xrik_GWjE/edit) as you're able to.

[2016-02-05 06:01] henare commented on #103
Done.

[2016-02-05 06:01] #103 closed, assigned to henare

[2016-02-08 01:15] equivalentideas commented on #47
We should link to this from the Welcome blog post when it's done https://github.com/AOGPN/opengovernment.org.au/issues/98

[2016-02-08 01:15] equivalentideas commented on #98
I've noted that on that issue so I'll close this one.

[2016-02-08 01:15] #98 closed, assigned to nobody

[2016-02-08 21:48] kat opened #111 "fix up omissions/errors in foundation meeting text"
(via Peter Timmins)
- call it Foundation meeting rather than Foundational
- include Craig Thomler  and Leanne O'Donnell (Blueprint for Free Speech) as attendees-inadvertently omitted

[2016-02-08 21:51] kat opened #112 "introduce working groups"
write an introduction to working groups and why they're there on the landing page

[2016-02-08 21:51] kat commented on #112
"Join a thematic working group in your area of interest. Help create ambitious commitments for Australia's first Open Government Partnership National Action Plan."

[2016-02-08 22:00] kat commented on #111
and updated slug - https://opengovernment.org.au/2016/01/25/australian-open-government-partnership-foundation-meeting/ (any links to this elsewhere?)

[2016-02-08 22:00] #111 closed, assigned to kat

[2016-02-08 22:14] kat commented on #101
@equivalentideas - please can you pick this one up? ( please add "To participate in this group, please join the network" in the google group introductory text as above)

[2016-02-08 23:43] kat commented on #96
Please remove from launch

[2016-02-08 23:59] equivalentideas commented on #101
Done:
![screen shot 2016-02-09 at 10 56 55 am](https://cloud.githubusercontent.com/assets/1239550/12903477/efb8c984-cf1b-11e5-997b-2b51b370b4f1.png)

@kat should we put notices like this on the working group pages? We are currently pushing people to working group pages that link directly to their threads in the google group, bypassing the welcome message.

[2016-02-09 00:16] henare commented on #35
Peter advises that the changes were accepted. So we can close this I think.

[2016-02-09 00:17] henare commented on #35
@equivalentideas says we may need to update the page. Reopening and assigning to him.

[2016-02-09 00:26] equivalentideas commented on #95
Currently we're asking:
- Your full name
- Your email
- If you are joining as a representative of an organisation, what’s its name?
- Which of our working groups do you most want to work with?
- Which other civil society organisations or community groups do you work with?

So for organisation reps we are getting the name of their organisation. Is there any other information you need for those orga

[2016-02-09 00:29] equivalentideas commented on #101
@henare suggested that we want to add notices/links like the :point_up: to all the working group pages above the links to the google group.

I'm gonna do that, and change the name of this issue, and we can go from there.

[2016-02-09 00:37] henare commented on #108
https://opengovernment.org.au/event/open-knowledge-melbourne-open-government-partnership-discuss-and-submit/

[2016-02-09 00:37] #108 closed, assigned to henare

[2016-02-09 00:43] equivalentideas commented on #101
Ok, I've added that notice to the top of all the working group pages and to the [Working Groups page](https://opengovernment.org.au/working-groups/).

Closing this.

[2016-02-09 00:43] #101 closed, assigned to equivalentideas

[2016-02-09 00:52] equivalentideas commented on #35
As I understand it, it's “V1” version https://docs.google.com/document/d/1ptyv4b1iUY5Q_AiyTpelmX-00k8oPUhCq6zgv--fR6Y/edit that has been approved. “V2”, the older version, is what's on the site so I'll make that swap.

[2016-02-09 00:55] #112 closed, assigned to henare

[2016-02-09 01:15] equivalentideas commented on #35
Ok I've updated it here https://opengovernment.org.au/about/terms-of-reference/

[2016-02-09 01:15] #35 closed, assigned to equivalentideas

[2016-02-09 01:20] kat opened #113 "Describe Access to Information working group"
(via Peter)

Access to Information

Access to government information, guaranteed by law, is a cornerstone of democracy.

As former Australian Information Commissioner Professor John McMillan said recently:
http://www.theaustralian.com.au/opinion/commitment-to-freedom-of-information-bolsters-our-democracy/news-story/a76fe5aa312e04ff728d4fe9b80bd09a

"The FoI Act ushered in a new era of open governm

[2016-02-09 01:45] #113 closed, assigned to kat

[2016-02-09 01:47] kat opened #114 "Describe Anticorruption working group"
https://opengovernment.org.au/working-groups/anti-corruption/

From Peter for the interim until we get something from Phil or others:

Anti Corruption

There are critical deficiencies in Australia’s anti-corruption laws and policy framework,

Australia has fallen further on the international Corruption Perceptions Index (CPI) published by Transparency International for the third year in a row.
htt

[2016-02-09 01:49] kat opened #115 "make it easy to add new commitments to the site"
(via Craig) Turn [this commitment template into a form](http://www.opengovpartnership.org/sites/default/files/attachments/Action%20Plan%20Template%20and%20Guidance%202014.pdf) into a form

[2016-02-09 01:51] kat commented on #115
suggestion is to embed  this in a page under 'resources' and add a link to the working group pages.

[2016-02-09 02:51] henare commented on #114
Done: https://opengovernment.org.au/working-groups/anti-corruption/

[2016-02-09 02:51] #114 closed, assigned to henare

[2016-02-09 02:57] henare commented on #76
I think this should come from the steering committee. I guess Peter will do it once everything is ready, does that sound right @kat?

[2016-02-09 03:16] henare commented on #76
We should also probably say we're closing the old Group.

[2016-02-09 03:23] henare commented on #20
I think this is all done.

[2016-02-09 03:23] #20 closed, assigned to kat

[2016-02-09 03:39] equivalentideas commented on #105
Here's a few ideas for different ways to do this:

## 1. Link in the site introduction text

Include a reference and link to this letter, or a blog post about the letter, in the site introduction text ( see #36 ). This means that people who are just learning about the ogp and network should read and discover it. Unfortunately we haven't fixed #44 so links are still quite hard to see, which kind un

[2016-02-09 03:51] kat commented on #95
I think that's just fine as it is.

[2016-02-09 03:51] #95 closed, assigned to kat

[2016-02-09 03:52] equivalentideas commented on #95
Ace :ok_hand:

[2016-02-09 04:02] kat commented on #95
:8ball:

[2016-02-09 04:02] kat commented on #105
some strong contenders there
Do either of you find one more compelling over the others?

[2016-02-09 04:02] kat commented on #105
also I'll ask Peter Timmins for feedback

[2016-02-09 04:04] henare commented on #105
Here's my thoughts:
1. A bit subtle - as I understand it, Peter wanted it more prominent on our site
2. Similarly subtle. It's just a post rather than its own, important thing
3. Another big section makes the page noisier
4. I like this the best. It's prominent enough and replaces a section we weren't sure about anyway

[2016-02-09 04:05] equivalentideas commented on #105
@kat I think the first option is in a 'just in time' kinda place where you get it in the context of what the network is. I also think the the third option could work well with some good text: It's kinda like “This thing has the tick of approval and backing of the Prime Minister”.

Not particularly.

[2016-02-09 04:15] kat commented on #76
again, one for Peter.

kat@oaf.org.au
Founder, Director, Worker OpenAustralia Foundation
http://openaustraliafoundation.org.au/
openaustralia http://openaustralia.org/ | planningalerts
http://planningalerts.org.au/| electionleaflets
http://electionleaflets.org.au/ | righttoknow http://righttoknow.org.au/
| theyvoteforyou http://theyvoteforyou.org.au/

On 9 February 2016 at 14:16, Henare Degan noti

[2016-02-09 04:19] kat commented on #105
I like the second version of 3, and I like the look of 4 but something about having two "Read More" boxes in parallel seems distracting. Also I doubt we're allowed to use the Gov coat of arms. https://www.dpmc.gov.au/pmc/publication/commonwealth-coat-arms-information-and-guidelines

[2016-02-09 04:23] equivalentideas commented on #105
For me the key question is whether the letter is more important that the working groups?

I just thought of another thing @kat When do we want people to discover the letter? When they just discover the Network? When the become members? When they're learning about the OGP? When they join the working groups? I think we're coming at this from a page layout perspective rather than from the users persp

[2016-02-09 04:37] henare commented on #76
:+1:

[2016-02-09 05:07] kat commented on #105
It's something Peter thinks is important when referring someone to learn about the network, that they understand that it has this high level (and recent) backing.

[2016-02-09 05:08] kat commented on #105
(via Peter) Three or four- use as heading "Prime Minister Turnbull recommits Australia to the Open Government Partnership" I'm with Luke " It's kinda like “This thing has the tick of approval and backing of the Prime Minister”. I've been thinking the themes or this might be better on the landing page than the Working Groups.

[2016-02-09 05:22] #44 closed, assigned to equivalentideas

[2016-02-09 05:27] #110 closed, assigned to craigthomler

[2016-02-09 05:57] equivalentideas commented on #105
This makes me think it's also important to make this really prominent on the About page, by mentioning it in the main introduction to the network.

It also suggests that solution number 1 might be a good idea since people who are just learning about the network are going to read that prominent text and possibly head straight to the about page. They might not even look around at other sections of t

[2016-02-09 06:11] equivalentideas opened #116 "The information about the Network isn't very helpful"
When you look at the introduction the Network on [the About page](https://opengovernment.org.au/about/#section-0), it doesn't tell you anything about how the Network actually works or what it means to be a member.

Most of it is when and who stuff, but that only tells you about the steering committee, which isn't very interesting and doesn't really tell me much about the character of the Network.

[2016-02-09 06:14] equivalentideas commented on #116
This relates to #55

[2016-02-09 23:25] kat commented on #36
The UK wording was more concise but no more user centred.

'The UK Open Government Network collaborates with and challenges governments in the UK to develop and implement ambitious open government reforms through the UK’s membership of the Open Government Partnership.'

Just popping back here as a starting point briefly in this conversation.

[2016-02-10 04:22] equivalentideas commented on #105
Ok, after discussing this with @kat, the prime purpose of this is for people who get sent to the site to find out about the network to see something that says “This thing has the tick of approval and backing of the Prime Minister”.

I'm going to go [with the solution 4 above](https://github.com/AOGPN/opengovernment.org.au/issues/105#issuecomment-181692079), because it keeps working groups high in

[2016-02-10 06:01] #105 closed, assigned to equivalentideas

[2016-02-10 06:05] equivalentideas commented on #105
I've implemented this now:

![screen shot 2016-02-10 at 4 59 04 pm](https://cloud.githubusercontent.com/assets/1239550/12939837/f05f0752-d017-11e5-948b-f384ce6b66cb.png)

It links to a blog post with the letter https://opengovernment.org.au/2015/11/28/the-prime-ministers-letter-reconfirms-australias-commitment-to-ogp/

This is all hard coded into the theme at the moment. If this is something we wa

[2016-02-10 06:24] equivalentideas commented on #36
I'm working on this in a google doc here https://docs.google.com/document/d/14nO_HtryBL_Sitc5JFMKr3gWVWpMrFZkt33UrVNj5DA/edit

[2016-02-10 07:06] kat opened #117 "do we need a sign up for businesses - distinguish them from non-profit organisations"
Business people have signed up giving a business name where asked for an organisation name. Is that appropriate?

[2016-02-10 07:08] kat commented on #117
should we offer the option to chose 'business' rather than organisation, as we're not against business people, and we do want to understand people's motivations for joining.

[2016-02-10 07:13] equivalentideas opened #118 "Clarify what the network means by “Conflict of interest” in the membership form"
Currently the form says:

Is the subsequent list mean to be a part of 'confirm you have no conflicts of interest'?

I think it would be clearer to say something a bit more explicit like:

[2016-02-10 07:16] equivalentideas commented on #36
Ok I've got a first pass at this that's focused on why you'd wanna join, and what we do:

I think the title could be more about what we do, but can think of anything better at this point.

[2016-02-12 01:31] equivalentideas commented on #117
@kat I'm not sure at this stage. It's not clear to me what the actual problem/bug is that this issue is identifying. Could you have a go articulating this from the perspective of what we're missing out on at the moment and why it's a problem?

[2016-02-12 01:47] kat commented on #117
It's good for transparency. AOGPN is an civil society network. The intention originally for the organisation field in the form was that if people signed up on behalf of an organisation it was presumed to be a civil society organisation (CSO). However two business people have put for profit businesses into this field as their organisation. This is misleading as they're not a civil society organisat

[2016-02-12 01:54] equivalentideas commented on #117
It seems odd to have businesses sign up at all. As you say above “we're not against business people”, and they can join as individuals.

Would another solution be to make it clearer that you're signing up a civil society organisation, rather than any kind of organisation. I think it could be unclear at the moment to people that their business/org is becoming a member as we use the words “represent

[2016-02-12 02:28] equivalentideas commented on #116
I've done a draft of this @kat https://docs.google.com/document/d/1ABvordVFZ3ViHal7bE3juay-iMwbffiJbvw6lmLq9tk/edit

Could you have a squiz and let me know what you think?

[2016-02-12 02:30] equivalentideas commented on #36
I'm pretty happy with that :point_up:. I'm going to put it up as the next iteration and we can continue to improve it from here.

[2016-02-12 02:34] kat commented on #117
@equivalentideas as we are implementing the network's interests that's not our call to make here. The network has already decided that wants to allow business people and have a very broad defnition of civil society interests. That's a given, and being the case, I think it better if people sign up with a business interest then we know about that than see them only as individuals. There's certainly

[2016-02-12 02:41] equivalentideas commented on #117
Ok cool @kat :ok_hand:

So would the way to implement this be:

Remove the question: _If you are joining as a representative of an organisation, what’s its name?_

And instead have two questions:

### 1. What kind of member are you? (single option only)
- [ ] Individual
- [ ] Civil Society Organisation
- [ ] Business

### 2. If you are registering an organisation or business, what's it's name?

[2016-02-12 03:22] kat commented on #117
Ok. Just careful if adapting the current form not to delete questions because I think that removes them from the resulting spreadsheet. (or copy the spreadsheet first).

[2016-02-12 04:10] equivalentideas commented on #117
Done https://docs.google.com/forms/d/1Rwq8cLkSUQBRVin33QmMc2xwsgeA91DP_i5u3dLYIoA/viewform

Amazingly Google Forms handled it really well :+1: all data retained.

[2016-02-12 04:10] #117 closed, assigned to nobody

[2016-02-12 04:23] #36 closed, assigned to equivalentideas

[2016-02-12 04:31] equivalentideas commented on #115
I like this idea. It's currently difficult to know how to make a commitment and this could at least make the expected format clearer.

We could make the output spreadsheet open and available and encourage people to post their contributions to the forum for discussion. Or do something so people get to do something with their commitments once they add them.

[2016-02-12 04:44] equivalentideas commented on #85
Turned out that it wasn't possible.

I'm gonna close this issue. If someone wants to reopen it would be good to rephrase it around what the problem/opportunity is from the users perspective. Or open a new issue :)

[2016-02-12 04:44] #85 closed, assigned to nobody

[2016-02-12 04:48] equivalentideas commented on #37
We've now replaced that section with a notice about the Prime Ministers letter on this issue to make sure people know this is a _real thing_ with high level support.

I'm gonna close this as this idea would have to change quite a bit to be implemented now.

[2016-02-12 04:48] #37 closed, assigned to nobody

[2016-02-12 04:51] equivalentideas commented on #34
Since this logo text has now changed to the full 'AUSTRALIAN OPEN GOVERNMENT PARTNERSHIP CIVIL SOCIETY NETWORK', I don't think this quite specific change is relevant. Please reopen if you disagree :)

[2016-02-12 04:51] #34 closed, assigned to nobody

[2016-02-15 00:46] kat opened #119 "in the theme discussion intro - make it obvious you have to join the network to join discussion"
if you jump straight to the theme discussion on a page it would be easy not to know you need to join the network before contributing to the discussion. This is something we fixed in the intro, but that's not the only entry point.

Suggested Fix: Include at least "To participate in this group, please first join the network." from https://groups.google.com/forum/#!forum/aogpn and include the link to

[2016-02-16 00:14] kat opened #120 "correct few spelling errors in foundation meeting"
(via Peter) Check name spelling and wayward apostrophes especially.

[2016-02-16 00:15] kat opened #121 "correct title - prime ministers letter"
could do with an apostrophe prime minister's letter

[2016-02-16 00:15] #121 closed, assigned to kat

[2016-02-16 00:18] kat commented on #120
looks good to me now.

[2016-02-16 00:18] #120 closed, assigned to kat

[2016-02-16 01:23] kat commented on #119
@craigthomler are you able to have a look at this one please? I don't seem to be able to edit the introductory message in each theme, and those messages are all authored by you.

[2016-02-16 02:14] craigthomler commented on #119
Not today (traveling) - can do tomorrow.

On Tuesday, 16 February 2016, Kat notifications@github.com wrote:

##

---

Craig Thomler

http://egovau.blogspot.com
http://twitter.com/CraigThomler
http://au.linkedin.com/in/craigthomler
http://www.slideshare.net/CraigThomler
http://www.slideshare.net/CraigThomler%20

_Mobile:_ 0411 780 194 (_International:_ +61 411 780 194)
_Phone:_ 02 6161 4508 (_Inter

[2016-02-17 03:40] craigthomler commented on #119
Done across all themes.

[2016-02-17 03:40] #119 closed, assigned to nobody

[2016-02-24 02:58] maxious commented on #5
OKFN uses Discourse and I do get emails just like google groups that you can reply to https://discuss.okfn.org/t/enable-mailing-list-capabilities-of-discourse/219 https://meta.discourse.org/t/new-reply-via-email-support/7764 or even start new threads https://discuss.okfn.org/t/testing-out-starting-a-topic-via-email/1183/3

[2016-02-24 03:01] henare commented on #5
@maxious amazing :sparkles: Thanks, I've updated the above :point_up:

[2016-02-24 03:43] kat opened #122 "make communication lines clearer"
We need to define why we're communicating with people - With clearer goals for opengovernment.org.au, we're in a better position to do achieve them. We need to be on the same page to do that.

I'm no social media strategist - but here's (a page)[an OGP communications document](https://docs.google.com/document/d/1E26_UEuqnxUxF4qhNLnsLctEaKUm7pZPPkI6PqZK45k/edit) we could work on. I'll added a few p

[2016-02-24 03:54] keithpitty commented on #5
:+1: for Discourse. I find it a delight to use compared to Google Groups. The only negative I see is the need to install it on a server (https://github.com/discourse/discourse/blob/master/docs/INSTALL.md).

[2016-02-24 03:57] henare commented on #5
Me on Slack earlier (edited):

[2016-02-24 04:06] craigthomler commented on #122
Ta - I'm a bit busy this week - will take a look on the weekend.

---

Craig Thomler

http://egovau.blogspot.com
http://twitter.com/CraigThomler
http://au.linkedin.com/in/craigthomler
http://www.slideshare.net/CraigThomler
http://www.slideshare.net/CraigThomler%20

_Mobile:_ 0411 780 194 (_International:_ +61 411 780 194)
_Phone:_ 02 6161 4508 (_International: *+61 2 6161 4508)
*Skype:_ craig.thom

[2016-02-24 04:14] kat commented on #122
I'll unassign you then, just assign yourself if you pick up at the weekend. Do you have guidelines for a strategy or anything you can pop into this discussion until then? Give us something to be going on with?

[2016-02-24 04:27] kat commented on #5
reopening because it hasn't gone away. There's too big a gap between people signing to the network and being able to connect with fellow Network members. Over to you @henare

[2016-02-24 04:28] henare commented on #5
Unless we have some esoteric requirements, which I don't think is the case, Discourse seems like the obvious choice for a way for the network to communicate. It now seems like the obvious choice because we know it can do all that Lumen does and more, and nicer.

So our choices are now: no forum (definitely doesn't sound like that's what we want), Discourse (it's the only good choice for a forum),

[2016-02-24 04:50] kat commented on #5
there's even discussion about  discourse/loomio integration https://github.com/AOGPN/opengovernment.org.au/issues/122

[2016-03-02 04:31] kat opened #123 "define and add content licensing message"
to the footer?

[2016-03-03 05:17] henare commented on #5
I'm going to use Ansible to provision the server over here: https://github.com/AOGPN/server

[2016-03-05 02:52] henare commented on #5
A basic Discourse server is now live: https://forum.opengovernment.org.au/

We've still got to do the configuration and customisation: https://github.com/AOGPN/server/issues/2

[2016-03-05 02:52] #5 closed, assigned to henare

[2016-03-05 02:55] henare opened #124 "Replace Google Group with our forum"
We now have a Discourse forum setup (#5): https://forum.opengovernment.org.au/

So we need to transition from the Google Group to there.

[2016-03-06 00:45] craigthomler commented on #124
Given there's been limited registrations & conversation, what will it take
to move across?

On Saturday, 5 March 2016, Henare Degan notifications@github.com wrote:

##

---

Craig Thomler

http://egovau.blogspot.com
http://twitter.com/CraigThomler
http://au.linkedin.com/in/craigthomler
http://www.slideshare.net/CraigThomler
http://www.slideshare.net/CraigThomler%20

_Mobile:_ 0411 780 194 (_Intern

[2016-03-06 05:20] henare commented on #124
I'm guessing:
- [x] Add site welcome message
- [x] Create new topics on Discourse to replace Groups threads
- [x] Update site with links to new forum topics
- [x] Replace embedded forum on get involved page
- [x] Tell people in the network about it
- [x] Start using it!

Anything else you can think of @craigthomler?

[2016-03-08 02:17] henare commented on #124
I've just removed it. The page does seem a bit bare without it. I'm open to ideas to fix that.

It looks like you can only [embed topics](https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963) from Discourse, not the whole forum. That makes sense to me, embedding the whole forum seems like overkill.

[2016-03-08 05:10] henare commented on #124
OK I've done everything but announce it!

[2016-03-09 01:27] henare commented on #124
I spoke with Peter this morning and we discussed what needed to be done to announce the change.
- [x] Post a message to the (new) Group announcing the change
- [x] Close the (new) Group to further posts
- [x] Use Discourse to invite people on the (new) Group to the new forum
- [x] Email people who have signed up to be members but not joined the new forum, asking them to join
- [x] Email the (old)

[2016-03-09 02:19] henare commented on #124
That's all done now! Fingers crossed people start participating :smile:

[2016-03-09 02:19] #124 closed, assigned to henare

[2016-03-24 04:00] kat opened #125 "add video to home page"
put the video that's on the about page on the home page.

ie.

<iframe src="https://www.youtube-nocookie.com/embed/Bq_ZWl1ZXA0?rel=0" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

Where should it go? in the main text body introducing it or where the prime minister's letter currently sits?

[2016-03-24 05:08] kat opened #126 "make better open government section friendlier"
change in bold:

Civil society groups around the world are using the Open Government Partnership process to achieve real gains in openness, accountability and participation. **We are a diverse civil society coalition working together to create ambitious commitments for Australia’s first OGP National Action Plan.**

We are a diverse group of individuals and organisations working together to create

[2016-04-18 02:15] henare opened #127 "Add list of organisational members to home page"
Peter Timmins asked if we could do this when I last saw him. IIRC the idea is to show that the network has the weight of a number of organisations behind it so that other organisations will be more likely to join.

[2016-04-18 02:18] henare opened #128 "Create announcement mailing list, retire old Google Group"
Peter asked me about this when I last saw him. He still posts announcements to the old Google Groups list. That's all the activity on that Group.

So since it's just being used as an announcement only list, let's move it to Mailchimp and hook the site up to that so it automatically mails out new posts and retire the Group once and for all.

[2016-04-18 02:30] kat commented on #127
Excellent, do you see that being like the way we display 'supporting organisations' like this?
![screen shot 2016-04-18 at 12 29 02 pm](https://cloud.githubusercontent.com/assets/95376/14592381/3d30b0fc-0561-11e6-88c1-2b2e91a02a6e.png)

[2016-04-18 02:35] henare commented on #127
@kat yes, that's what I suggested to Peter. He didn't want the logos yet for some reason - hopefully he can chime in here with the reason.

[2016-04-18 02:46] kat commented on #127
Curious. Its such a super easy way to recognise things we know (for those of us who are very visual at least, which is the majority of people) Will be interesting to understand this issue better.

[2016-04-18 04:20] petert10 commented on #127
If its easy OK-just looking for an easy step up.
The current organisation members are
Accountability Roundtable,Transparency International Australia, Open Knowledge Australia, OpenAustralia Foundation, Electronic Frontiers Australia, Code for Australia, Australian Press Council, Media Entertainment and Arts Alliance, Publish What You Pay, Blueprint for Free Speech, Creative Commons Australia, Aust

[2016-04-18 04:25] petert10 commented on #128
Henare, Thanks. We need automatic announcements and an email member only group for communication with members that won't appear on the website. Can Mailchimp do both? I registered a mailchimp name some time back but that's as far as I went.

[2016-04-18 05:00] henare commented on #128
@petert10 for this we can use a private space on the forum. That way all communication between network members stays on the forum and the announce-only is via email with Mailchimp.

[2016-05-03 04:42] kat commented on #127
@henare @equivalentideas I could grab the logos and resize to a standard size this afternoon for this.

[2016-05-03 05:29] petert10 commented on #127
Thanks. Not sure if the list I gave you included the latest- Australian
Policy Online. P.
http://apo.org.au/

On Tue, May 3, 2016 at 2:42 PM, Kat notifications@github.com wrote:

[2016-05-10 01:15] kat commented on #127
Hi @petert10 @henare @equivalentideas  I've grabbed all the logos of non-profit Civil Society organisations above. Although you mention APO.org.au above, interestingly they self identified as a business when they registered. On their site 'Policy Online is a not-for-profit, open access digital library for researchers, policy makers and practitioners to discover, share and manage public knowledge r

[2016-05-25 23:56] kat opened #129 "improve intro to whistleblower section"
The original commitment suggested doesn't clearly state the problem it aims to solve.
https://opengovernment.org.au/get-involved/open-government-manifesto/#section-1
original text taken from [here](http://ogpau.wikispaces.com/Co-creation+workshop+outputs)

[2016-05-26 00:05] kat opened #130 "clearly state the intention and actions for 'open procurement'"
'Open Procurement' commitment proposed doesn't clearly state the problem it aims to solve, nor what the government is asked to do to improve this. Text as below taken from
https://opengovernment.org.au/get-involved/open-government-manifesto/#section-1

 **Introduce open procurement processes**

The closed nature of the existing procurement process is an obstacle for the public and private sectors.

[2016-06-13 00:45] henare opened #131 "Markup of Manifesto post has a range of issues causing layout bugs and poor accessibility"
https://opengovernment.org.au/2016/06/09/towards-an-open-government-manifesto/

![selection_001](https://cloud.githubusercontent.com/assets/48945/15994901/ef50512a-3153-11e6-9fd1-6181518ae8a4.png)

[2016-06-13 01:03] equivalentideas commented on #131
This will be caused by all the template markup in the body field of this post. It was copied out of one a special page template’s frontend preview into the normal new post creation page.

It has other issues as well like mixed up heading levels.

Stripping it all out is the way to go I think.

[2016-06-16 00:19] equivalentideas commented on #131
- [x] Move ids to headings
- [x] Removes sections and div markup
- [x] fix link to google doc
- [x] Remove duplicate first heading 'Towards ...'
- [x] remove images around icon links
- [x] Fix heading levels
- [x] remove stray `<b>` tags

[2016-06-16 01:21] equivalentideas commented on #131
Done.

[2016-06-16 01:21] #131 closed, assigned to equivalentideas

[2016-06-16 03:20] equivalentideas commented on #127
@kat could you put these in the Google Drive folder, or link to where they are please? :)

[2016-06-24 00:13] equivalentideas commented on #127
Here's the logos collected so far: https://drive.google.com/drive/u/0/folders/0B_0JrLy9bmIPLVM3bFRVMkh3dk0

Thanks @kat

[2016-10-14 00:32] kat opened #132 "outline 'the case for' each area of open government reform and promote to communities of interest"
There are several areas up for reform on the 2016 OGP agenda. We'd like to outline the case for each one and promote them to communities of interest.

[2016-10-14 00:58] kat opened #133 "write brief for introductory refresh blog post about the OGP, what is it and why should people contribute/care?"
What do people need to know? How long should it be?

[2016-10-14 01:04] asherwolfie commented on #133
I suggest the blog post be no longer than 800 words, and address the following issues:
- Preamble.
- What is the OGP?
- Australia is signing up to the OGP!
- What issues does #OGPAU National Action Plan seek to address?
- Where is the #OGPAU National Action Plan at right now?
- Who is involved in overseeing the creation of OGPAU’s National Action Plan?
- What is the timeframe for finalising the OG

[2016-10-14 04:57] kat commented on #133
@asherwolfie HI, sorry, this issue was intended to be about the individual blog posts on each issue, this sounds more like a brief for the overall OGP introductory post you're writing so I've changed the title of this one and am making a new one for the conversations for each area of reform. If I've just confused things, please feel free to change it again.

[2016-10-14 05:11] kat opened #134 "Write a brief to help conversation leaders write compelling 'case for' blog posts"
We need to make clear cases for the areas of reform to present to organisations, so that they can quickly and easily assess if they would like to show their support for reform in each area.

Civil society participants who have been working on particular reform areas under consideration in Australia's first Open Government Partnership National Action Plan will write 'the case for' each reform area

[2016-10-16 23:51] kat commented on #134
Outline of areas of reform that remain under discussion for Australia's first Open Government National Action Plan come from [the Interim Working Group meeting minutes](http://ogpau.govspace.gov.au/outcomes-from-the-third-meeting-of-the-interim-working-group/)

Members of Australia’s Open Government Partnership Interim Working Group met on September 19th and "discussed the scope, ambition and deta

[2016-10-17 02:34] kat commented on #134
Added some of the Interim Working Group civil society names for as many of the draft proposed commitment areas. In bold, those I've not confirmed a civil society contact for.

They'll
-  'case for/open letters' including each of these in Australia's first national action plan
- be the contact point for organisations who wish to express their support for including these in the first national action

[2016-10-17 02:36] kat opened #135 "Allow supporting organisations/people to show support by adding their names to reform area pages"
When the "case for action on reform on X" open letters are published, potential supporting organisations need a way to add their name to that issue. Also see #134

[2016-10-17 02:55] kat commented on #135
To make contact, find out more, or express support for one or more areas that the government should take action on, and include in the first Australian Open Government Partnership National Action Plan:

1) respond to @ogpau
2) email the ogpau email account
3) contact individual IWG CS members, by twitter/email/phone?

Not all members (3) will be available the whole time. Is there another way we ca

[2016-10-17 03:29] kat commented on #134
I missed EITI before. Just added it to the list above (cut and paste error -  my bad - it was the first item at the bottom of a page and the rest overleaf and I overlooked it)

[2016-10-17 04:27] kat commented on #134
@asherwolfie please can you write the brief here?

[2016-10-17 06:25] asherwolfie commented on #134
The aim of these posts is to “catch people up” to where the OGP Interim Working Group is currently at and to enable organisations to consider their position on the proposed committments.

Think of the post that you’re creating as a public primer for people who have no idea about what the OGPAU has been working on.

Try to give the audience as much detail as possible, while avoiding areas not yet o

[2016-10-17 12:02] kat commented on #127
Have added them to a (draft) page called Member Organisations

[2016-10-18 02:55] kat commented on #134
@asherwolfie Thanks so much for putting that list together - Some excellent questions. Not sure we'll be able to stick to 800 words though. I've asked @petert10 (AOGPN interim convenor) and Phil (AOGPN steering committee) to have a look and indicate what the essential questions here.

[2016-10-20 22:23] kat opened #136 "make it clearer how people can/should get involved"
Instructions on getting involved should be clear. It's hard to know why you'd get involved at the moment, or what you should do? Its vague information, not encouraging or inclusive. At the moment the page reads as follows:

Get involved
Join the Network and start contributing <--button

We welcome members’ suggestions, open government announcements and guest blog post submissions.  Currently steer

[2016-10-21 00:08] kat opened #137 "Make it easier to join the network"
The process is a bit protracted right now. See https://opengovernment.org.au/get-involved/

[2016-10-21 00:11] equivalentideas opened #138 "Direct people to commitments overview from the homepage"
The most important action for people to take now is to sign up to support reform in a commitment topic area https://github.com/AOGPN/opengovernment.org.au/issues/135

We should list these areas on the homepage, with a short excerpt of what/why you’d support this, and link to the letter/signup.

This would go above or replace the working groups section on the homepage.

To do this we need:
- a list

[2016-10-21 00:11] kat opened #139 "replace Turnbull letter with latest letter to OGP on homepage"
at https://opengovernment.org.au

[2016-10-21 00:14] kat opened #140 "Outline engagement process timeline"
On the homepage.

[2016-10-21 00:18] equivalentideas opened #141 "Add a page for every commitment"
Each commitment needs a page with:
1. A short summary of the commitment
2. A link to the full draft commitment document/web page (hopefully)
3. A link to the form where you can provide feedback (like [this](https://docs.google.com/forms/d/e/1FAIpQLSfQ0B8PN9fnjkMUItfHV3CXP6aRvSsWUIK70rZN57sAkAIfog/viewform))
4. A list of people who've provided feedback, and their feedback
5. The case for reform in

[2016-10-21 00:22] kat opened #142 "Move the working groups signup off the homepage"
Its confusing to see the working groups and the reform areas listed on the homepage. Where should these live? See #138

[2016-10-21 00:23] kat commented on #142
Maybe move this to the get involved page, as these discussions are for members who've signed up to the AOGPN

[2016-10-21 00:24] kat opened #143 "When people show support, ask them if they're an organisation or individual"
require a name and contact information, and whether they're signing up on behalf of an organisation.

[2016-10-21 00:25] kat opened #144 "contact those who've signed up as supporter for reform X"

[2016-10-21 00:26] kat opened #145 "Add commitments to 'The Case for Reform on X' pages"

[2016-10-21 00:33] equivalentideas commented on #135
One way to do this initially could be:

Add a button to the reform area page, “Add your support”. That links to Google Form with Name, email, and organisation name if it's on behalf of an organisation. We can ask them to email us their logo then.

There’s probably petition WordPress plugins that might make the experience more seamless for people, but this is an initial pass to get started.

[2016-10-21 00:47] equivalentideas opened #146 "Make adding your name to reform areas not a manual process for admins"
We're anticipation getting lots of individuals and organisations signing up to support these reform areas. It will be too slow and not as good an experience for people if we have to update a list manually before they see there names on the page.

[2016-10-21 00:50] equivalentideas commented on #135
It would be nice to have a way for people to add an image.

[2016-10-21 01:03] equivalentideas commented on #141
@kat can you drop the list of topic areas/pages we need to make on here?

[2016-10-21 01:07] equivalentideas commented on #136
This stuff should also make the case of why orgs/people should join: from @kat and I’s chat today “so that the network has more weight and greater influence to create reform”.

[2016-10-21 01:14] equivalentideas commented on #135
When people sign up we need a way to continue to contact them about the OGP and the network.

[2016-10-21 01:17] equivalentideas commented on #146
A WordPress plugin to do this would be good.

[2016-10-21 01:32] kat commented on #132
Maree Ashead, Phil Newman, Peter Timmins @petert10  Ken Coghill and me are all due to send these through. Ken's provided a first draft.

If you're named above, please, if you can, update this issue when you've sent through a draft, or created a DRAFT page on opengovernment.org.au

With your permission we'll review formatting and any editorial issues that come up - we being me and @asherwolfie

We'

[2016-10-24 00:21] equivalentideas opened #147 "Publish the first topic area page “The Case for Action on A National Integrity Framework”"
This first page is ”The Case for Action on A National Integrity Framework“ by Ken C.
- [x] Texted locked off
- [x] Clean up HTML
- [x] Petition link added “Add your support”
- [x] Published

[2016-10-24 00:27] kat opened #148 "Publish Outline the case for Natural Resources Transparency reform"
- [x] Texted locked off
- [x] Create [support/feedback form](https://docs.google.com/a/oaf.org.au/forms/d/1rEC6n--19hlHsBPlKGh-IVblX5nKOcDatBqRClxAfdA/edit)
- [ ] Petition link added “Add your support”
- [ ] Clean up HTML
- [ ] Published

[2016-10-24 00:40] kat commented on #148
Phil sent through [The Case for the Extractives Industry Transparency Initiative (EITI) as a Commitment under Australia’s first OGP National Action Plan](https://docs.google.com/document/d/1ySaIw3BLoi6TOSUMDQlWv3-MAxpclJWYmqumPutuvFI/edit)

Supporting orgs for this initiative are listed at https://docs.google.com/spreadsheets/d/11BtckhYTf_8zK5ErMgzIPN-T8q5ZcMpk-tXGcI40UIM/edit#gid=1462668932

[2016-10-24 01:06] kat opened #149 "find and fix broken link to gov report under Access to Information working group"
@asherwolfie reported [a link to a report](http://www.dpmc.gov.au/pmc/media/2015/public-sector-data-management-study-report-now-available) broken on the (access to information working group page](https://opengovernment.org.au/working-groups/access-to-information)

[2016-10-24 01:07] kat commented on #149
and noted on our slack that @jpwarren found the missing report that was linked to on @opengovau’s website under ‘Access to Info.’ https://www.dpmc.gov.au/public-data/public-sector-data-management-project dpmc.gov.au
Public Sector Data Management Project | Department of the Prime Minister and Cabinet
In early 2015, we led a study about how public sector data helps the government with better service

[2016-10-24 02:00] equivalentideas commented on #147
@kat a few questions about from the original text sent through, are indented sections blockquotes / quoting a passage of something?

e.g.

![screen shot 2016-10-24 at 12 51 45 pm](https://cloud.githubusercontent.com/assets/1239550/19631481/d374181c-99e8-11e6-9db3-439d9d477403.png)

Further down there's another indented section that could be a blockquote too. Are these two sections quotes? Can we l

[2016-10-24 02:04] kat commented on #147
thanks for your questions @equivalentideas I'll check the original document, Yes, the indented areas are a block quote. (my bad formatting).  and the underlined areas from memory didn't have links attached. I'll check.

[2016-10-24 02:05] kat commented on #149
fixed.

[2016-10-24 02:05] #149 closed, assigned to nobody

[2016-10-24 02:09] kat commented on #147
see original doc: [OpenAustralia Foundation case 4 action-National integrity framework.docx](https://github.com/AOGPN/opengovernment.org.au/files/546814/OpenAustralia.Foundation.case.4.action-National.integrity.framework.docx)

[2016-10-24 02:10] kat opened #150 "thank supporters for supporting action on reform"
Create a template for these to follow and variations for each reform listed on #141

[2016-10-24 02:17] equivalentideas commented on #147
Cheers, thanks really helpful.

Here's a preview of the page with cleaned HTML and the link to the form at the bottom https://opengovernment.org.au/?page_id=2834&preview=true

@kat here's some questions:
1. [ ] Are you happy with the title for the support section and link/button text?
2. [x] Reading this I really want links to those ART quotes. Also to the OGP grand challenge stuff. Should we add

[2016-10-24 05:48] kat opened #151 "Publish the case for Action on Political Campaign Financing"
Publish  ”The Case for Action on Political Campaign Financing“ by Ken C.
- [x] Import new text (Kat)
- [ ] Text edited (Asher)
- [ ] Clean up HTML (somewhat - Kat - Luke to check)
- [ ] Petition link added “Add your support”
- [ ] Published

[2016-10-24 05:49] kat commented on #151
Original draft text at [OpenAustralia Foundation case 4 action-Political Campaign Financing.docx](https://github.com/AOGPN/opengovernment.org.au/files/547021/OpenAustralia.Foundation.case.4.action-Political.Campaign.Financing.docx)

[2016-10-24 05:51] kat commented on #151
Editable [on google docs](https://docs.google.com/a/openaustralia.org/document/d/11G94btf6eds4Ob4Lv_tVrpgFh_Fce390lgXpptiy_0A/edit?usp=sharing)

[2016-10-24 05:53] kat commented on #151
@asherwolfie This is one of two to look at first thing tomorrow.

[2016-10-24 05:56] kat commented on #147
Good points/questions @equivalentideas , I've asked Ken to respond to these directly.

[2016-10-24 06:44] equivalentideas commented on #135
We now have this in action on this page https://opengovernment.org.au/the-case-for-action-on-a-national-integrity-framework/
1. People click the “Add your name to support reform” button at the end of the text.
2. People subscribed to the responses get an email
3. Someone takes the the they enter and puts it onto the page.
4. They also email the person thanking them (https://github.com/AOGPN/opengo

[2016-10-24 06:44] #135 closed, assigned to nobody

[2016-10-24 06:46] equivalentideas commented on #135
The form here https://drive.google.com/drive/u/0/folders/0B67Y_SEZzwGvUW42TXBBNk1NXzA can be copied and adapted for each reform area.

When you make a new page for a reform area, you can copy the markup at the bottom of this page https://opengovernment.org.au/the-case-for-action-on-a-national-integrity-framework/ and change the link to your new form.

[2016-10-24 06:47] equivalentideas commented on #143
Done https://docs.google.com/forms/d/e/1FAIpQLSdquEx0Fmcqyh5ytsNDIVms1x5EjVhg3W0HeeVXrlIe6l5Cng/viewform

[2016-10-24 06:47] #143 closed, assigned to nobody

[2016-10-24 06:49] equivalentideas commented on #147
I've published this, we can continue to change it for any more feedback https://opengovernment.org.au/the-case-for-action-on-a-national-integrity-framework/

[2016-10-25 05:09] kat opened #152 "Publish the case for Political Party eligibility to receive public funding"
- [x ] Texted imported (Kat)
- [ ] Texted edited (Asher)
- [ ] Clean up HTML
- [ ] Petition link added “Add your support”
- [ ] Published

[OpenAustralia Foundation case 4 action-Political party eligibility to receive public funding.docx](https://github.com/AOGPN/opengovernment.org.au/files/549666/OpenAustralia.Foundation.case.4.action-Political.party.eligibility.to.receive.public.funding.docx)
ed

[2016-10-25 18:24] asherwolfie commented on #151
Hi Kat,

I've edited #151 a little (no major changes, just formatting and hyperlinks.)

Pls find edited copy attached.

x. Ash.

---

From: Kat notifications@github.com
Sent: Monday, 24 October 2016 4:53:01 PM
To: AOGPN/opengovernment.org.au
Cc: Asher Wolf; Mention
Subject: Re: [AOGPN/opengovernment.org.au] Publish the case for Action on Political Campaign Financing (#151)

@asherwolfiehttps://git

[2016-10-26 00:33] asherwolfie commented on #152
Hi Kat,

I've lightly edited #152, mostly just formating - pls see attached. Good work - mostly plain language, apart from the word "anomalous" - should we remove/replace it?

x. Ash.

---

From: Kat notifications@github.com
Sent: Wednesday, 26 October 2016 11:26:36 AM
To: AOGPN/opengovernment.org.au
Cc: Asher Wolf; Mention
Subject: Re: [AOGPN/opengovernment.org.au] Publish the case for Political

[2016-10-26 02:31] kat commented on #147
added the accountability roundtable URL where they're first mentioned, and changed page owner/author to Ken Coghill.

[2016-10-26 02:37] kat commented on #151
@asherwolfie sorry, I'm not able to see the updated version attached here. Please can you upload again or send to me by what ever means will work for you right now?

[2016-10-26 15:41] asherwolfie commented on #152
Hi Kat,

I've lightly edited #152, mostly just formating - pls see attached. Good work - mostly plain language, apart from the word "anomalous" - should we remove/replace it?

x. Ash.

---

From: Kat <notifications@github.com<mailto:notifications@github.com>>
Sent: Wednesday, 26 October 2016 11:26:36 AM
To: AOGPN/opengovernment.org.auhttp://opengovernment.org.au
Cc: Asher Wolf; Mention
Subject: Re

[2016-10-26 20:05] kat commented on #152
@asherwolfie good idea.

[2016-10-27 03:02] kat commented on #152
This isn't attached. Could you upload again or send via email please? Thanks!

[2016-10-27 03:59] kat commented on #151
text now updated on google docs.
Imported to opengovernment.org.au
Doing a first pass on html

[2016-10-27 09:26] kat commented on #152
I've uploaded and reformatted the new version of this one. It also has a slightly different title.
[OpenAustralia Foundation case 4 action-Public funding & the Public Trust UPDATE.docx](https://github.com/AOGPN/opengovernment.org.au/files/555403/OpenAustralia.Foundation.case.4.action-Public.funding.the.Public.Trust.UPDATE.docx)

[2016-10-27 09:32] kat commented on #152
I've updated the page, including the title, but the title doesn't quite make sense to me

[2016-10-27 09:35] kat commented on #152
@asherwolfie [edit this document on opengovernment.org.au](https://opengovernment.org.au/wp-admin/post.php?post=2858&action=edit)

[2016-10-27 10:51] kat commented on #151
that's [here](https://opengovernment.org.au/wp-admin/post.php?post=2871&action=edit) in draft form. All further edits on this page only please.

[2016-10-27 11:00] kat commented on #147
Added introductory text from new version sent through "Reform in this area would reduce the risks of corruption of types and areas of government activity not caught by ACLEI’s current remit."

I don't believe there are other changes in the update, Ken to confirm.

[2016-10-27 11:26] kat opened #153 "Create first national action plan draft reform overview page"
Create an overview that
- [x] brief introduction
- [x] lists the area headings - then...
- [x] lists all the draft commitments
  for each commitment
- [ ] overview for the case for each commitment
- [ ] link to support this reform and find out more

begin by copying and fleshing out [this template](https://docs.google.com/document/d/1cEIr2fG-YB4atvuUtoHm0qva2gPExPQBYyOgOoC-rdw/edit#)

[2016-10-27 11:37] kat commented on #153
that's[ here](https://docs.google.com/document/d/1lnocEGLLyr6nzwJRqYmawvGhG6uXQAKc7rejHJ43laI/edit)

[2016-10-28 05:44] kat commented on #141
The list of commitments as it stands, per the minutes from 19th September Interim Working Group meeting are as follows. Civil society contacts for each commitment:

• Work towards compliance with the Extractive Industries Transparency Initiative. - - Mark /Phil Newman
• Improve whistle-blower protections in the corporate sector. Mark Zimsak/Phil Newman
• Assess Australia’s compliance with the Open

[2016-10-28 06:37] kat opened #154 "Open Data and Digital TRansformation"
Publish the case for Open Data and Digital Transformation
- [x] Texted imported (Kat)
- [ ] Texted edited (Asher)
- [ ]  Clean up HTML
- [ ]  Petition link added “Add your support”
- [ ]  Published

[2016-10-30 22:52] #147 closed, assigned to equivalentideas

[2016-10-30 23:20] kat commented on #153
The plan is out. First I'm updating commitment titles in the overview page

[2016-10-31 00:16] kat commented on #153
Creating placeholder pages to link to and adding links to https://opengovernment.org.au/australias-first-open-government-draft-plan

[2016-10-31 01:03] kat commented on #141
@equivalentideas Need to rethink  2: A link to the full draft commitment document/web page (hopefully)
because they're not published as a single webpage or individual web pages or documents only downloadable[ as a PDF or word document](http://ogpau.govspace.gov.au/have-your-say-on-australias-first-open-government-national-action-plan/)

[2016-10-31 01:41] kat commented on #138
creating this page in  #153

[2016-10-31 02:49] kat opened #155 "Add copyright and licencing info"

[2016-10-31 03:14] equivalentideas commented on #153
Looking good. I recon this should be a post not a page, so it comes up in the news feed etc.

[2016-10-31 03:21] equivalentideas commented on #138
As a first pass, lets just add a big section linking to the overview page (#153) on the homepage. And it should still replace the working groups section #142

[2016-10-31 03:55] kat commented on #138
Do you mean the overview page should be a post? And that there should be an announcement linking to that from the homepage, rather than the overview page becoming the homepage? I'm not sure I understand the reasoning. Seems like more clicking for people to get to the intro & take action?

[2016-10-31 03:56] kat commented on #138
@equivalentideas That said, if you're confident that's a good starting point, I'm happy to see how that goes if you want to implement. 💚

[2016-10-31 03:57] equivalentideas commented on #138
I think this page could do with a TLDR upfront after the first sentence:

[2016-10-31 03:58] kat commented on #138
@equivalentideas you ok to remove that?

[2016-10-31 03:59] equivalentideas commented on #138
Just to clarify things here’s what we could do:
1. Have a short section on the homepage linking to this page/post
2. Put all the content from this page onto the homepage.
3. Redirect the homepage to this page.

I think 2 seems good. But I'll do 1 first while I work out how to do that.

[2016-10-31 03:59] equivalentideas commented on #138
☝️  Is that what you understood the plan to be @kat ?

[2016-10-31 03:59] kat commented on #138
💯

[2016-10-31 04:00] equivalentideas commented on #138
Cool.

[2016-10-31 04:00] kat commented on #138
I was thinking 2. and thought you were suggesting 1. and if the intro is now too long, then please feel free to cull it ruthlessly.

[2016-10-31 04:04] equivalentideas commented on #138
I'll just get it on there first. I'll make it so the content out of that page get's pulled to the homepage, so we can edit that page in the wp backend and it updates the homepage.

[2016-10-31 04:11] kat commented on #141
updated the list of commitments from official list published today by [PM&C](http://ogpau.govspace.gov.au/have-your-say-on-australias-first-open-government-national-action-plan/)

[2016-10-31 04:45] #142 closed, assigned to nobody

[2016-10-31 04:53] equivalentideas commented on #138
Done, the full post is on the homepage https://opengovernment.org.au/

[2016-10-31 04:56] equivalentideas commented on #138
I recon we should go for a more succinct title and cut down the intro a bit if possible.

I'll have a go.

@kat I assume the _by Kat ..._ is some kind of disclaimer for the network? If not, I'm not sure it's useful for people. What do you recon?

[2016-10-31 05:09] kat commented on #141
beneficial ownership published with all the bits (I think) https://opengovernment.org.au/beneficial-ownership

[2016-10-31 05:12] kat commented on #138
Yes, you could put it like that. Also showing my hand. I have been and am part of the process. It could go at the end or be a link on my name if you think that's better @equivalentideas It is a bit long

[2016-10-31 05:13] kat commented on #138
Did you want to discuss title and content here or over in slack #ogp channel?

[2016-10-31 05:14] kat commented on #138
@equivalentideas (optional - if you're feeling clear on what's essential and what can be dropped please go ahead)

[2016-10-31 05:17] equivalentideas commented on #138
Here would be more open ;-)

Yep I'll do a pass.

[2016-10-31 05:27] kat commented on #138
👍

[2016-10-31 05:30] equivalentideas commented on #138
I've done a bit of a cut and reorganise https://opengovernment.org.au/

Will call this closed.

[2016-10-31 05:30] #138 closed, assigned to nobody

[2016-10-31 05:32] equivalentideas commented on #153
This is live and on the homepage https://opengovernment.org.au/ I'll close this. Reopen/rename if it's still being used.

[2016-10-31 05:32] #153 closed, assigned to nobody

[2016-10-31 09:00] kat commented on #141
draft natural resources commitment published at https://opengovernment.org.au/natural-resource-transparency/ - need to go back and check values listed in the question on relevance to OGP values are the right ones! This is because PM&C have listed the values 'transparency and public accountability' but the OGP values are listed at http://www.opengovpartnership.org/sites/default/files/attachments/OG

[2016-10-31 09:35] kat commented on #141
have updated the form to include reference to the reform area - rather than just saying reform area - otherwise the full report details looks, rather unhelpfully like this
![screen shot 2016-10-31 at 20 35 17](https://cloud.githubusercontent.com/assets/95376/19849873/9b6354a8-9fa9-11e6-89eb-6088f41a866e.png) - because it doesn't display title of the form. That could get annoying if you have a coup

[2016-10-31 10:45] kat commented on #141
[Public trust in data sharing](https://opengovernment.org.au/public-trust-in-data-sharing/) up

[2016-10-31 11:17] kat commented on #141
[Digital transformation](https://opengovernment.org.au/digital-transformation/)'s up

[2016-10-31 11:29] kat commented on #141
and now - [Information management and access laws for the 21st century ](https://opengovernment.org.au/21st-century-information/)

[2016-10-31 11:42] kat commented on #141
[Understand the use of Freedom of Information](https://opengovernment.org.au/understand-freedom-of-information-use/) is up

[2016-10-31 12:08] kat commented on #141
[Improve the discoverability and accessibility of government data and information](https://opengovernment.org.au/improve-discoverability-and-accessibility-of-government-data-and-information/) up

[2016-10-31 12:22] kat commented on #141
[Confidence in the electoral system and political parties](https://opengovernment.org.au/confidence-in-the-electoral-system-and-political-parties/) up

[2016-10-31 12:50] kat commented on #141
draft [National Integrity Framework](https://docs.google.com/forms/d/e/1FAIpQLSfrmwtSy8q-YJI8-hLPhveq3LetnaMjj9PD-wXWH84Iop8u3w/viewform) commitment up

[2016-10-31 12:55] kat commented on #141
[Open Contracting ](https://opengovernment.org.au/open-contracting/) too - nearly there!

[2016-10-31 13:12] kat commented on #141
[Delivery of Australia's Open Government National Action Plan](Delivering Australia’s Open Government National Action Plan)

[2016-10-31 13:28] kat commented on #141
lucky last! [Enhance public participation in government decision making](https://opengovernment.org.au/participation-in-government-decisions/) There are 'the cases for' to add. but for now I am calling this done!

[2016-10-31 20:05] kat commented on #141
Please look @asherwolfie @equivalentideas  --> I have added cases for reform in [confidence in electoral system and political parties](https://opengovernment.org.au/confidence-in-th…olitical-parties/)  It might be better higher in the page? Please move if you can introduce it earlier in the piece.

[2016-10-31 20:37] kat commented on #141
As above (and also maybe should be moved higher in the page) added link to[ The case for EITI](https://opengovernment.org.au/the-case-for-the-extractives-industry-transparency-initiative-eiti/) in [draft commitment on Natural Resource Transparency](https://opengovernment.org.au/natural-resource-transparency/) \* Added Supporting Organisations to the Case for page also.

[2016-10-31 21:40] kat commented on #141
Updated the [Open Letter: Open data and digital transformation](https://opengovernment.org.au/open-letter-open-data-and-digital-transformation/) to link back to the three commitments mentioned here.

[2016-10-31 21:55] kat commented on #141
Added the Case for a National Inegrity Framework to[ draft commitment: National Integrity Framework](https://opengovernment.org.au/national-integrity-framework/)

[2016-11-10 03:59] kat opened #156 "make it easier to give feedback on a commitment"
I asked @asherwolfie to test out giving feedback on a commitment,
1. "Give feedback" should be a header in some form at the top of the page without needing to scroll down

2. Place a click-thru that takes the visitor to all two or three commitments under each section - and then let them click on the specific commitment they want

3. Email out to civil society orgs? I can try to scrape as many emai

[2016-11-10 03:59] kat commented on #156
@equivalentideas what do you think about 1) above - adding a 'give feedback' button at the top?

[2016-11-10 04:06] kat commented on #156
@asherwolfie I'm not quite sure what you mean on 2. Where should that be?

[2016-11-10 05:51] equivalentideas commented on #156
Sounds good to me 👍

In practice does this mean moving the link up maybe to just after the summary sentence?
![screen shot 2016-11-10 at 4 41 33 pm](https://cloud.githubusercontent.com/assets/1239550/20165852/df2bfdbc-a764-11e6-8f6d-f647340096dd.png)

[2016-11-10 07:48] asherwolfie commented on #156
1. On the front page of the website nowhere does it announce we're running a campaign to get feedback. You have to scroll down to the text below and then click thru and then you you find out we're offering a way to give feedback if you scroll to the end of the page. If somewhere on the first page we could put something about Civil Society Network wanting feedback for the gvt and a quick way to jum

[2016-11-10 07:51] asherwolfie commented on #156
1. I'd put all three of these links together on a page under 'Transparency and Accountability in business'

[image1.PNG]

On 10 Nov 2016, at 3:06 PM, Kat <notifications@github.com<mailto:notifications@github.com>> wrote:

@asherwolfiehttps://github.com/asherwolfie I'm not quite sure what you mean on 2. Where should that be?

##

You are receiving this because you were mentioned.
Reply to this emai

[2016-11-10 08:38] kat commented on #156
more feedback from @asherwolfie  - 1. On the front page of the website nowhere does it announce we're running a campaign to get feedback. You have to scroll down to the text below and then click thru and then you you find out we're offering a way to give feedback if you scroll to the end of the page. If somewhere on the first page we could put something about Civil Society Network wanting feedback

[2016-11-10 10:12] kat commented on #156
have added buttons to all the commitment pages higher up as requested. Also fixed up a couple of bad links.

[2017-01-24 13:40] henare opened #157 "Retire forum that doesn't work"
As part of setting up the community collaboration tools we also created a Discourse instance. This never really got used effectively.

We should retire and archive it. Currently it's a Discourse instance running on a dedicated VM that OAF is paying for. What we should do is archive the site, host it somewhere static, and delete the VM.

The reason I'm logging this now is that I'm working on HTTPS

[2017-04-26 01:24] Nouslepeuple opened #158 "Sydney Motorway Corporation should be subject to the GIPA Act (NSW)"
Sydney Motorway Corporation Pty Ltd replaced the WestConnex Delivery Authority (a NSW Government Agency) in 2015.  At that time it was no longer subject to the GIPA Act (freedom of information requests).  It has two government ministers as shareholders and carries out government projects such as WestConnex.  It acts at the direction of the government and correspondence to Ministers is routinely pa

[2017-04-26 02:40] henare commented on #158
Hi @Nouslepeuple, I'm from the [OpenAustralia Foundation](https://www.openaustraliafoundation.org.au/). We're members of the AOGPN and we helped [build the website](https://opengovernment.org.au/). As these issues are specifically about the website and not the OGP in general I'm going to close this issue. However I have some suggestions for you that I hope will help.

Although this iteration of Au

[2017-04-26 02:40] #158 closed, assigned to nobody

[2017-04-26 04:23] Nouslepeuple commented on #158
Many thanks for the information provided.
Regards
Catherine 

Sent on the go with Vodafone
-------- Original message --------From: Henare Degan <notifications@github.com> Date: 26/4/17  12:40  (GMT+10:00) To: "AOGPN/opengovernment.org.au" <opengovernment.org.au@noreply.github.com> Cc: Nouslepeuple <cge23005@bigpond.net.au>, Mention <mention@noreply.github.com> Subject: Re: [AOGPN/opengovernment.or